<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
	<div class="col-lg-4">
        <div class="widget navy-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs">$ 1,540</h1>

                <h3 class="font-bold no-margins">
                    Annual income
                </h3>
                <small>Income form project Alpha.</small>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart1"></div>
            </div>
        </div>
    </div>
	<div class="col-lg-4">
        <div class="widget lazur-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs">$ 210,660</h1>
                <h3 class="font-bold no-margins">
                    Monthly income
                </h3>
                <small>Income form project Beta.</small>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart2"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="widget yellw-bg no-padding" style="width:50%">
            <div class="p-m">
                <h1 class="m-xs">$ 50,992</h1>

                <h3 class="font-bold no-margins">
                        Half-year revenue margin
                </h3>
                <small>Sales marketing.</small>
            </div>
            <div class="flot-chart" style="height: 50px">
                <div class="flot-chart-content" id="flot-chart3"></div>
            </div>
        </div>
    </div>
	<div class="col-lg-12 col-md-12"></div>
	<div class="col-lg-12 col-md-12">
		<div class="ibox-content text-center h-200 col-lg-3 col-md-6">
                <span id="sparkline8"></span>
        </div>
		<div class="col-lg-6 col-md-6">
			<ul>
				<li>
					<span class="label label-info label-width">
						<span class="pull-left">Ave Monthly Income</span>
						<span class="pull-right">R1000.00</span>
					</span>
				</li>
				<hr/>
				<li>
					<span class="label label-danger label-width">
						<span class="pull-left">Ave Monthly Expenses</span>
						<span class="pull-right">R1000.00</span>
					</span>
				</li>
				<hr/>
				<li>
					<span class="label label-white label-width">
						<span class="pull-left">Most Valuable Property</span>
						<span class="pull-right">R1000.00</span>
					</span>
				</li>
				<hr/>
				<li>
					<span class="label label-success label-width">
						<span class="pull-left">Least Valuable Property</span>
						<span class="pull-right">R1000.00</span>
					</span>
				</li>
				<hr/>
			</ul>
		</div>
	</div>
		
	<div class="col-lg-12 col-md-12"></div>
	<div class="col-lg-12 col-md-12">
		<div class="pull-right">
			<button class="btn btn-primary">Email</button> <button class="btn btn-primary">port to Excel</button> <button class="btn btn-danger">Date (Month)</button> 
		</div>
	</div>
	<div class="col-lg-12 col-md-12"></div>
	<div class="col-lg-12 col-md-12">
		<div style="font-size:17px;">Incomes <button class="btn btn-success btn-sm"><i class="fa fa-plus"></i></button><br/></div>
		<div class="col-lg-12 col-md-12">
			<div class="col-lg-1 col-md-1"></div>
			<div class="col-lg-11 col-md-11">
				<div class="col-lg-8 col-md-8">					
					<input class="form-control" type="text">
				</div>
				<div class="col-lg-2 col-md-2">R xxx </div>
				<div class="col-lg-2 col-md-2"><button class="btn btn-danger btn-sm"><i class="fa fa-minus"></i> </div>
			</div>
		</div>
		<div class="col-lg-12 col-md-12"></div>
		<div class="col-lg-12 col-md-12">
			<div class="col-lg-1 col-md-1"></div>
			<div class="col-lg-11 col-md-11">
				<div class="col-lg-8 col-md-8">					
					<input class="form-control" type="text">
				</div>
				<div class="col-lg-2 col-md-2">R xxx </div>
				<div class="col-lg-2 col-md-2"><button class="btn btn-danger btn-sm"><i class="fa fa-minus"></i> </div>
			</div>	
		</div>
		<div class="col-lg-12 col-md-12"></div>
		<div class="col-lg-12 col-md-12">
			<div class="col-lg-1 col-md-1"></div>
			<div class="col-lg-11 col-md-11">
				<div class="col-lg-8 col-md-8">					
					<input class="form-control" type="text">
				</div>
				<div class="col-lg-2 col-md-2">R xxx </div>
				<div class="col-lg-2 col-md-2"><button class="btn btn-danger btn-sm"><i class="fa fa-minus"></i> </div>
			</div>
		</div>
	</div>
	
	<div class="col-lg-12 col-md-12" >
		<div style="font-size:17px;">Expenses <button class="btn btn-success btn-sm"><i class="fa fa-plus"></i></button><br/></div>
		<div class="col-lg-12 col-md-12">
			<div class="col-lg-1 col-md-1"></div>
			<div class="col-lg-11 col-md-11">
				<div class="col-lg-8 col-md-8">					
					<input class="form-control" type="text">
				</div>
				<div class="col-lg-2 col-md-2">R xxx </div>
				<div class="col-lg-2 col-md-2"><button class="btn btn-danger btn-sm"><i class="fa fa-minus"></i> </div>
			</div>
		</div>
		<div class="col-lg-12 col-md-12"></div>
		<div class="col-lg-12 col-md-12">
			<div class="col-lg-1 col-md-1"></div>
			<div class="col-lg-11 col-md-11">
				<div class="col-lg-8 col-md-8">					
					<input class="form-control" type="text">
				</div>
				<div class="col-lg-2 col-md-2">R xxx </div>
				<div class="col-lg-2 col-md-2"><button class="btn btn-danger btn-sm"><i class="fa fa-minus"></i> </div>
			</div>	
		</div>
		<div class="col-lg-12 col-md-12"></div>
		<div class="col-lg-12 col-md-12">
			<div class="col-lg-1 col-md-1"></div>
			<div class="col-lg-11 col-md-11">
				<div class="col-lg-8 col-md-8">					
					<input class="form-control" type="text">
				</div>
				<div class="col-lg-2 col-md-2">R xxx </div>
				<div class="col-lg-2 col-md-2"><button class="btn btn-danger btn-sm"><i class="fa fa-minus"></i> </div>
			</div>
		</div>
	</div>
	
	<div class="col-lg-12 col-md-12">
		<div style="font-size:17px;">Profit/Lost <br/></div>
		<div class="col-lg-12 col-md-12">
			<div class="col-lg-1 col-md-1"></div>
			<div class="col-lg-11 col-md-11">
				<div class="col-lg-8 col-md-8">					
				</div>
				<div class="col-lg-2 col-md-2 pull-r">R xxx </div>
			</div>
		</div>
	</div>	
	</div>
	</div>
</div>

    
	
	
<script src="vendors/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<!-- Flot -->
<script src="vendors/flot/jquery.flot.js"></script>
<script src="vendors/flot/jquery.flot.tooltip.min.js"></script>
<script src="vendors/flot/jquery.flot.resize.js"></script>

<script src="vendors/plugins/sparkline/jquery.sparkline.min.js"></script>

    <script>
        $(document).ready(function(){
		
		
		    $("#sparkline8").sparkline([5, 6, 7, 2, 0, 4, 2, 4, 5, 7, 2, 4, 12, 14, 4, 2, 14, 12, 7], {
				type: 'bar',
				barWidth: 8,
				height: '150px',
				barColor: '#1ab394',
				negBarColor: '#c6c6c6'
				});

		
		
            var d1 = [[1262304000000, 6], [1264982400000, 3057], [1267401600000, 20434], [1270080000000, 31982], [1272672000000, 26602], [1275350400000, 27826], [1277942400000, 24302], [1280620800000, 24237], [1283299200000, 21004], [1285891200000, 12144], [1288569600000, 10577], [1291161600000, 10295]];
            var d2 = [[1262304000000, 5], [1264982400000, 200], [1267401600000, 1605], [1270080000000, 6129], [1272672000000, 11643], [1275350400000, 19055], [1277942400000, 30062], [1280620800000, 39197], [1283299200000, 37000], [1285891200000, 27000], [1288569600000, 21000], [1291161600000, 17000]];

            var data1 = [
                { label: "Data 1", data: d1, color: '#17a084'},
                { label: "Data 2", data: d2, color: '#127e68' }
            ];
            $.plot($("#flot-chart1"), data1, {
                xaxis: {
                    tickDecimals: 0
                },
                series: {
                    lines: {
                        show: true,
                        fill: true,
                        fillColor: {
                            colors: [{
                                opacity: 1
                            }, {
                                opacity: 1
                            }]
                        },
                    },
                    points: {
                        width: 0.1,
                        show: false
                    },
                },
                grid: {
                    show: false,
                    borderWidth: 0
                },
                legend: {
                    show: false,
                }
            });

            var data2 = [
                { label: "Data 1", data: d1, color: '#19a0a1'}
            ];
            $.plot($("#flot-chart2"), data2, {
                xaxis: {
                    tickDecimals: 0
                },
                series: {
                    lines: {
                        show: true,
                        fill: true,
                        fillColor: {
                            colors: [{
                                opacity: 1
                            }, {
                                opacity: 1
                            }]
                        },
                    },
                    points: {
                        width: 0.1,
                        show: false
                    },
                },
                grid: {
                    show: false,
                    borderWidth: 0
                },
                legend: {
                    show: false,
                }
            });

            var data3 = [
                { label: "Data 1", data: d1, color: '#fbbe7b'},
                { label: "Data 2", data: d2, color: '#f8ac59' }
            ];
            $.plot($("#flot-chart3"), data3, {
                xaxis: {
                    tickDecimals: 0
                },
                series: {
                    lines: {
                        show: true,
                        fill: true,
                        fillColor: {
                            colors: [{
                                opacity: 1
                            }, {
                                opacity: 1
                            }]
                        },
                    },
                    points: {
                        width: 0.1,
                        show: false
                    },
                },
                grid: {
                    show: false,
                    borderWidth: 0
                },
                legend: {
                    show: false,
                }
            });

            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

            $(".todo-list").sortable({
                placeholder: "sort-highlight",
                handle: ".handle",
                forcePlaceholderSize: true,
                zIndex: 999999
            }).disableSelection();;

            var mapData = {
                "US": 498,
                "SA": 200,
                "CA": 1300,
                "DE": 220,
                "FR": 540,
                "CN": 120,
                "AU": 760,
                "BR": 550,
                "IN": 200,
                "GB": 120,
                "RU": 2000
            };

            $('#world-map').vectorMap({
                map: 'world_mill_en',
                backgroundColor: "transparent",
                regionStyle: {
                    initial: {
                        fill: '#e4e4e4',
                        "fill-opacity": 1,
                        stroke: 'none',
                        "stroke-width": 0,
                        "stroke-opacity": 0
                    }
                },
                series: {
                    regions: [{
                        values: mapData,
                        scale: ["#1ab394", "#22d6b1"],
                        normalizeFunction: 'polynomial'
                    }]
                },
            });
        });
    </script>
