<div class="footer fixed">
    <div class="pull-right">
        Assets management System  <strong>ControlPoint</strong> try it .
    </div>
    <div>
        <strong>Copyright</strong> Itkamer Ldt &copy; 2014-2015
    </div>
</div>
