<nav class="navbar-default navbar-static-side" role="navigation">
	<div class="sidebar-collapse">
		<ul side-navigation class="nav" id="side-menu">
			<li class="nav-header">
				<div class="dropdown profile-element">
					<span> <img alt="image" class="img-circle"
						src="assets/img/profile_small.jpg">
					</span> <a data-toggle="dropdown" class="dropdown-toggle" href="#"> <span
						class="clear"> <span class="block m-t-xs"> <strong
								class="font-bold">{{userName}} </strong>
						</span> <span class="text-muted text-xs block">{{userRole}} <b
								class="caret"></b></span>
					</span>
					</a>
					<ul class="dropdown-menu animated fadeInRight m-t-xs">
						<li><a ui-sref="userProfile">Profile</a></li>
						<li class="divider"></li>
						<li> 
							<a ng-click="main.logout();" >
		                    	<i class="fa fa-sign-out"></i> Log out
		                	</a>
	                	</li>
					</ul>
				</div>
				<div class="logo-element">CT</div>
			</li>
			<hr>
			<li ng-if="main.hasAnyRole(['ADMINISTRATOR'])"
				ui-sref-active="active"><a ui-sref="instanceList"><i
					class="fa fa-laptop"></i> <span class="nav-label ">List of Intances</span> </a></li>
			<li ng-if="main.hasAnyRole([ 'CARETAKER', 'PROPERTY_MANAGER', 'OWNER', 'TENANT'])"
				ui-sref-active="active"><a ui-sref="propertyPortefolio"><i
					class="fa fa-home"></i> <span class="nav-label ">Property Overview</span> </a></li>
			<li ng-if="main.hasAnyRole([ 'CARETAKER', 'PROPERTY_MANAGER', 'OWNER', 'TENANT'])"
				ui-sref-active="active"><a ui-sref="unitView"><i
					class="fa fa-cube"></i> <span class="nav-label "> Units</span> </a></li>
			<li ng-if="main.hasAnyRole([ 'CARETAKER', 'PROPERTY_MANAGER', 'OWNER', 'TENANT'])"
				ui-sref-active="active"><a ui-sref="vendorList"><i
					class="fa fa-support"></i> <span class="nav-label ">List of Vendors</span> </a></li>
			<!--<li ng-if="main.hasAnyRole([ 'CARETAKER', 'PROPERTY_MANAGER', 'OWNER', 'TENANT'])"-->
				<!--ui-sref-active="active"><a ui-sref="trusteeList"><i-->
					<!--class="fa fa-support"></i> <span class="nav-label ">List of Trutees</span> </a></li>-->
			<li ng-if="main.hasAnyRole([ 'CARETAKER', 'PROPERTY_MANAGER', 'OWNER', 'TENANT'])"
				ui-sref-active="active"><a ui-sref="usersList"><i
					class="fa fa-group"></i> <span class="nav-label ">List of Users</span> </a></li>
            <li  ng-if="main.hasAnyRole([ 'CARETAKER', 'PROPERTY_MANAGER', 'OWNER', 'TENANT'])" ui-sref-active="active">
                <a  ui-sref="taskList"><i class="fa fa-tasks"></i> <span class="nav-label ">Tasks</span> </a>
            </li>
  
			<li  ng-if="main.hasAnyRole([ 'ADMINISTRATOR', 'CARETAKER', 'PROPERTY_MANAGER', 'OWNER', 'TENANT'])" ui-sref-active="active">
                <a  ui-sref="scheduleOverview"><i class="fa fa-calendar"></i> <span class="nav-label ">Schedule Events</span> </a>
            </li>
			
			<li  ng-if="main.hasAnyRole([ 'ADMINISTRATOR', 'CARETAKER', 'PROPERTY_MANAGER', 'OWNER', 'TENANT'])" ui-sref-active="active">
                <a  ui-sref="financeOverview"><i class="fa fa-dollar"></i> <span class="nav-label "> Finance</span> </a>
            </li>
   
		</ul>

	</div>
</nav>
