    <!-- Page wraper -->
    <!-- ng-class with current state name give you the ability to extended customization your view -->
    <div style="height: 750px;" class="gray-bg ">

        <!-- Main view  -->
        <div ui-view></div>
		<br/>
		<br/> 
        <!-- Footer -->
        <!--<div ng-include="'views/common/footer.html'"></div>-->

    </div>
