<div class="row border-bottom" >
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header col-sm-8">
            <span minimaliza-sidebar></span>
                <div class="col-sm-5">
                <h2>{{appName}}</h2>
                </div>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <a   ng-click="main.logout();" >
                    <i class="fa fa-sign-out"></i> Log out
                </a>
            </li>
        </ul>
    </nav>
</div>