<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title">Create Vendor / Trustee</h4>
    </div>
    <div class="modal-body">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <form class="form-horizontal">

                    <div class="form-group"><label class="col-lg-2 control-label">Name </label>

                        <div class="col-lg-10"><input ng-model="modalData.model.name" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group"><label class="col-lg-2 control-label">Email </label>

                        <div class="col-lg-10"><input type="email"  ng-model="modalData.model.email" class="form-control"></div>
                    </div>
                    <div class="form-group"><label class="col-lg-2 control-label">Phone </label>
                        <div class="col-lg-5"><input  ng-model="modalData.model.landPhone" placeholder="Land Phone" class="form-control"></div>
                        <div class="col-lg-5"><input  ng-model="modalData.model.homePhone" placeholder="Home Phone" class="form-control"></div>
                    </div>
                    <div class="form-group"><label class="col-lg-2 control-label"> </label>
                        <div class="col-lg-5"><input  ng-model="modalData.model.mobilePhone" placeholder="Mobile" class="form-control"></div>
                    </div>
                    <div class="form-group"><label class="col-lg-2 control-label">Address </label>
                        <div class="col-lg-7"><input ng-model="modalData.model.city" placeholder="City" class="form-control"></div>
                        <div class="col-lg-3"><input ng-model="modalData.model.zipCode" placeholder="Zipcode" class="form-control"></div>
                    </div>
                    <div class="form-group"><label class="col-lg-2 control-label"> </label>
                        <div class="col-lg-7"><input ng-model="modalData.model.street" placeholder="Street" class="form-control"></div>
                    </div>
                    <div class="form-group"><label class="col-lg-2 control-label">Web Site </label>

                        <div class="col-lg-10"><input ng-model="modalData.model.webSite" placeholder="Web Site" class="form-control"></div>
                    </div>
                    <div class="form-group"><label class="col-lg-2 control-label">Type </label>
                        <div class="col-lg-8">
                            <select class="form-control"
                                    ng-model="modalData.modelType"
                                    ng-options="t  for t in modelTypes">
                            </select>
                        </div>
                    </div>

                </form>
            </div>
        </div>
            </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-warning" ng-click="cancel()"><i class="fa fa-close"></i> Close</button>
        <button type="button" class="btn btn-success" ng-click="save()"><i class="fa fa-save"></i> Save</button>
    </div>
</div>

