<div style="padding-top: 120px;" class="loginColumns animated fadeInDown">
    <div ng-hide="main.register" class="row">

        <div class="col-md-4 col-md-offset-2">
            <h2 class="font-bold">Welcome to ControlPoint</h2>
            <p>
               The ultimate property management solution for owners, caretakers, body corporates and property managers. 
            </p>
            <p>
                A complete management tool for effective Communication, Tracking, Visibility, Awareness and Accountability.   
            </p>
        </div>
        <div class="col-md-3 col-md-offset-1">
            <div  class="ibox-content">
                <form  role="form" action="index.html">
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email" required="">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password" required="">
                    </div>
                    <div class="form-group">
                            <div class="checkbox i-checks"><label> <input type="checkbox"><i></i> Remember Me ? </label></div>
                        </div>
                    <button type="submit" class="btn btn-primary block full-width m-b">Login</button>

                    <a href="#">
                        <small>Forgot password?</small>
                    </a>

                    <p class="text-muted text-center">
                        <small>Do not have an account?</small>
                    </p>
                    <a  ng-click="main.registration();"  class="btn btn-sm btn-white btn-block btn-success" >Create an account for a free trial.</a>
                </form>
                <p class="m-t">
                    <small>ControlePoint Asset Management system  &copy; 2015</small>
                </p>
            </div>
        </div>
    </div>

    <div ng-hide="!main.register" class="row">
        <div class="col-md-4 col-md-offset-4">
            <div  class="ibox-content">
                <h3>Register to ControlPoint</h3>
                <form class="m-t" role="form" action="login.html">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Name" required="">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email" required="">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password" required="">
                    </div>
                    <div class="form-group">
                        <div class="checkbox "><label> <input  type="checkbox"><i></i> Agree the terms and policy </label></div>
                    </div>

                    <button type="submit" class="btn btn-primary block full-width m-b">Register</button>

                    <p class="text-muted text-center"><small>Already have an account?</small></p>
                    <a class="btn btn-sm btn-white btn-block"  ng-click="main.login();" >Login</a>
                </form>
                <p class="m-t">
                    <small>ControlPoint Asset Management system  &copy; 2015</small>
                </p>
            </div>
        </div>
    </div>

</div>