<div style="margin-top: 10px;" class="col-lg-7">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <form class="form-horizontal" novalidate="">

                <div class="form-group"><label class="col-lg-2 control-label">Name </label>

                    <div class="col-lg-10"><input ng-model="trusteeDetail.trustee.name" type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group"><label class="col-lg-2 control-label">Email </label>

                    <div class="col-lg-10"><input type="email"  ng-model="trusteeDetail.trustee.email" class="form-control"></div>
                </div>
                <div class="form-group"><label class="col-lg-2 control-label">Phone </label>
                    <div class="col-lg-5"><input  ng-model="trusteeDetail.trustee.landPhone" placeholder="Land Phone" class="form-control"></div>
                    <div class="col-lg-5"><input  ng-model="trusteeDetail.trustee.homePhone" placeholder="Home Phone" class="form-control"></div>
                </div>
                <div class="form-group"><label class="col-lg-2 control-label"> </label>
                    <div class="col-lg-5"><input  ng-model="trusteeDetail.trustee.mobilePhone" placeholder="Mobile" class="form-control"></div>
                </div>
                <div class="form-group"><label class="col-lg-2 control-label">Address </label>
                    <div class="col-lg-7"><input ng-model="trusteeDetail.trustee.city" placeholder="City" class="form-control"></div>
                    <div class="col-lg-3"><input ng-model="trusteeDetail.trustee.zipCode" placeholder="Zipcode" class="form-control"></div>
                </div>
                <div class="form-group"><label class="col-lg-2 control-label"> </label>
                    <div class="col-lg-7"><input ng-model="trusteeDetail.trustee.street" placeholder="Street" class="form-control"></div>
                </div>
                <div class="form-group"><label class="col-lg-2 control-label">Web Site </label>

                    <div class="col-lg-10"><input ng-model="trusteeDetail.trustee.webSite" placeholder="Web Site" class="form-control"></div>
                </div>
<hr>
                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button  class="btn btn-sm btn-success" ng-click="trusteeDetail.save();"><i class="fa fa-save"></i> Save</button>
                        <button  class="btn btn-sm btn-warning" ng-click="trusteeDetail.saveAndQuit();"><i class="fa fa-save"></i> Save And Quit</button>
                        <a  class="btn btn-sm btn-primary" ui-sref="trusteeList" ><i class="fa fa-circle"></i> Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>