<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="input-group">
                                <input type="text" placeholder="Trustee name ..." class="input-sm form-control col-sm-5"> <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-warning"><i class="fa fa-search"></i> Search</button> </span>
                            </div>
                        </div>
                        <div class="col-sm-3 m-b-xs">
                            <a ui-sref="trusteeDetails" class="btn btn-sm btn-primary"> <i class="fa fa-plus"></i> Add new Trustee </a>
                        </div>
                        <div class="col-sm-4 m-b-xs">

                        </div>

                    </div>
                    <div class="table-responsive">
                        <table>
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Name </th>
                                <th>Phone </th>
                                <th>Email</th>
                                <th>Address</th>
                                <th>webSite</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="trustee in trusteeList.trustees">
                                <td>{{$index + 1}}</td>
                                <td>{{trustee.name}}</td>
                                <td>{{trustee.landPhone}}</td>
                                <td>{{trustee.email}}</td>
                                <td>
                                     <span class="label label-info">{{trustee.city}}</span>
                                     <span class="label label-success">{{trustee.zipCode}}</span>
                                     <span class="label label-warning">{{trustee.street}}</span>
                                </td>
                                <td>{{trustee.name}}</td>
                                <td>
                                    <a ng-click="trusteeList.editTrustee(trustee);"><i class="fa fa-1x fa-edit text-navy"></i></a>
                                    <a  ng-click="trusteeList.removeTrustee(trustee);"><i class="fa fa-1x fa-remove text-danger"></i></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
</div>
