<div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="input-group"><input type="text" placeholder="Company name ..." ng-model="company" class="input-sm form-control col-sm-5"> <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary"> Go!</button> </span></div>
                                </div>
                                <div class="col-sm-5">
                                </div>
                                
                                <div class="col-sm-4 m-b-xs">

                                </div>

                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Company </th>
                                        <th>Address </th>
                                        <th>StartDate</th>
                                        <th>End Date</th>
                                        <th>Active</th>
                                        <th>Tial ?</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="Instance in InstanceCtrl.instances | filter:company | orderBy:'name'">
                                        <td>{{$index + 1}}</td>
                                        <td>{{Instance.company}}</td>
                                        <td>{{Instance.address.city}} {{Instance.address.street}} {{Instance.address.country}}</td>
                                        <td>{{Instance.start | date:'dd-mm-yyyy HH:mm'}}</td>
                                        <td>{{Instance.end | date:'dd-mm-yyyy HH:mm'}}</td>
                                        <td><a href="#"><i class="fa fa-check-circle text-navy"></i></a></td>
                                        <td>{{Instance.trial}}</td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        </div>