<div style="margin-top: 10px;" class="col-lg-7">
	<div class="ibox float-e-margins">
		<div class="ibox-content">
			<form class="form-horizontal">

				<div class="form-group">
					<label class="col-lg-3 control-label">Name </label>

					<div class="col-lg-9">
						<input ng-model="unitDetail.unit.name" type="text"
							class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-3 control-label">Unit Size</label>

					<div class="col-lg-9">
						<input type="number" ng-model="unitDetail.unit.unitSize"
							placeholder="unit size" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-3 control-label">Description </label>
					<div class="col-lg-9">
						<input ng-model="unitDetail.unit.description"
							placeholder="description" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-3 control-label">City</label>
					<div class="col-lg-9">
						<input ng-model="unitDetail.unit.city" placeholder="city"
							class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-3 control-label"> Property Name </label>
					<div class="col-lg-9">
						<select class="form-control"
							ng-model="unitDetail.property"
							ng-options="p as p.name for p in unitDetail.properties">
						</select>
					</div>
				</div>

				<hr>
				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-9">
						<button class="btn btn-sm btn-primary" ng-click="unitDetail.save();"><i class="fa fa-save"></i> Save</button>
							<button ng-click="unitDetail.saveAndQuit()" class="btn btn-info"><i class="fa fa-save"></i> Save And Quit</button>
                            <a ui-sref="unitView" class="btn btn-warning"><i class="fa fa-circle-o"></i> Cancel</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
</div>