<!-- @author Tchimkap hermann -->
<div class="wrapper wrapper-content animated fadeInRightBig">
	<div class="row" style="background-color: white">

		<div class="col-md-9 col-lg-9">
			<div class="row">
				<div class="col-md-10 col-lg-10">
					<div class="input-group"
						style="padding-bottom: 5px; padding-top: 5px; height: 45px">
						<input type="text" placeholder="Search..." class="form-control">
						<span class="input-group-btn">
							<button type="button" class="btn btn-primary">
								<i class="fa fa-search"></i>Search
							</button>
						</span>
					</div>
				</div>
				<div class="col-md-2 col-lg-2">
							 <a ui-sref="unitDetails" class="btn btn-sm btn-primary"> <i class="fa fa-plus"></i> Add new Unit </a>
						</span>
					</div>
				</div>


			<div class="row">
				<div class="panel blank-panel">

					<div class="panel-heading">
						<div class="panel-title m-b-md ">
							<div class="row" ng-show="unitCtrl.block">

								<div class="col-md-offset-8 col-md-2">
									<button class="btn btn-primary btn-sm" style="width: 90%;">Email
										All</button>
								</div>
								<div class="col-md-2">
									<h4 class="">1024 Elements</h4>
								</div>
							</div>

							<div class="row" ng-hide="unitCtrl.block">

								<div class="col-md-offset-6 col-md-2">
									<button class="btn btn-primary btn-sm" style="width: 90%;">Email
									</button>
								</div>
								<div class="col-md-2">
									<button class="btn btn-primary btn-sm" style="width: 90%;">Port
										to Excel</button>
								</div>
								<div class="col-md-2">
									<button class="btn btn-danger btn-sm" style="width: 90%;">Date(Month)
									</button>
								</div>
							</div>
						</div>
						<div class="panel-options">

							<ul class="nav nav-tabs">
								<li class="active"><a data-toggle="tab" href="#tab-1"
									ng-click="unitCtrl.showblock('tab1')">Unit View </a></li>
								<li class=""><a data-toggle="tab" href="#tab-2"
									ng-click="unitCtrl.showblock('tab2')">Meter Reading</a></li>
							</ul>
						</div>
					</div>

					<div class="panel-body"
						style="border-right: 2px solid rgb(142, 142, 142);">

						<div class="tab-content">
							<div id="tab-1" class="tab-pane active">

								<div class="row"
									style="background-color: rgb(243, 243, 244); margin-bottom: 2%; margin-left: 2%;">
									<div class="row" style="width: 100%">
										<div class="col-md-1 text-center"
											style="padding-bottom: 40px; margin-top: 40px">
											<h4>Unit 1</h4>
										</div>
										<div class="col-md-3">
											<ul class="stat-list">
												<li class="font-bold">Owner</li>
												<li>Kevin Smith</li>
												<li><i class="fa fa-phone text-success ng-binding"></i>0821111111111</li>
												<li><i class="fa fa-envelope text-warning ng-binding"></i>Kevin.Smith@gmail.com</li>
											</ul>
										</div>
										<div class="col-md-3">
											<ul class="stat-list">
												<li class="font-bold">Tenant</li>
												<li>Stuart Govinder</li>
												<li><i class="fa fa-phone text-success ng-binding"></i>0821111111111</li>
												<li><i class="fa fa-envelope text-warning ng-binding"></i>Kevin.Smith@gmail.com</li>
											</ul>
										</div>
										<div class="col-md-4">
											<div class="row">
												<div class="text-center">
													<div class="col-md-12">Water and Electricity</div>
													<canvas id="barChart2"></canvas>
												</div>
											</div>
										</div>
										<div class="col-md-1">
											<div class="row">
												<label class=" label-success"
													Style="width: 100%; height: 40px; margin-bottom: 25%; text-align: center">Ave:
													<br />200Litres
												</label>
											</div>
											<div class="row">
												<label class=" label-warning"
													Style="width: 100%; height: 40px; text-align: center">Ave:<br />
													100Kw
												</label>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-md-2">
											<label class=" label-danger"
												Style="width: 90%; height: 35px; text-align: center">Tasks:
												5</label>
										</div>
										<div class="col-md-2">
											<label class="label-danger"
												Style="width: 90%; height: 35px; text-align: center">notes:
												10</label>
										</div>
										<div class="col-md-offset-1 col-md-2">
											<button class=" btn btn-success"
												Style="width: 100%; text-align: center">Edit</button>
										</div>

										<div class=" col-md-2">
											<button class="btn btn-primary"
												Style="width: 100%; margin-bottom: 5%">Email</button>
										</div>
										<div class="col-md-3">
											<button class="btn btn-warning" Style="width: 100%;">
												Add Tasks and Notes</button>
										</div>



									</div>
								</div>

								<div class="row"
									style="background-color: rgb(243, 243, 244); margin-bottom: 2%; margin-left: 2%;">
									<div class="row" style="width: 100%">
										<div class="col-md-1 text-center"
											style="padding-bottom: 40px; margin-top: 40px">
											<h4>Unit 1</h4>
										</div>
										<div class="col-md-3">
											<ul class="stat-list">
												<li class="font-bold">Owner</li>
												<li>Kevin Smith</li>
												<li><i class="fa fa-phone text-success ng-binding"></i>0821111111111</li>
												<li><i class="fa fa-envelope text-warning ng-binding"></i>Kevin.Smith@gmail.com</li>
											</ul>
										</div>
										<div class="col-md-3">
											<ul class="stat-list">
												<li class="font-bold">Tenant</li>
												<li>Stuart Govinder</li>
												<li><i class="fa fa-phone text-success ng-binding"></i>0821111111111</li>
												<li><i class="fa fa-envelope text-warning ng-binding"></i>Kevin.Smith@gmail.com</li>
											</ul>
										</div>
										<div class="col-md-4">
											<div class="row">
												<div class="text-center">
													<div class="col-md-12">Water and Electricity</div>
													<canvas id="barChart3"></canvas>
												</div>
											</div>
										</div>
										<div class="col-md-1">
											<div class="row">
												<label class=" label-success"
													Style="width: 100%; height: 40px; margin-bottom: 25%; text-align: center">Ave:
													<br />200Litres
												</label>
											</div>
											<div class="row">
												<label class=" label-warning"
													Style="width: 100%; height: 40px; text-align: center">Ave:<br />
													100Kw
												</label>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-md-2">
											<label class=" label-danger"
												Style="width: 90%; height: 35px; text-align: center">Tasks:
												5</label>
										</div>
										<div class="col-md-2">
											<label class="label-danger"
												Style="width: 90%; height: 35px; text-align: center">notes:
												10</label>
										</div>
										<div class="col-md-offset-1 col-md-2">
											<button class=" btn btn-success"
												Style="width: 100%; text-align: center">Edit</button>
										</div>

										<div class=" col-md-2">
											<button class="btn btn-primary"
												Style="width: 100%; margin-bottom: 5%">Email</button>
										</div>
										<div class="col-md-3">
											<button class="btn btn-warning" Style="width: 100%;">
												Add Tasks and Notes</button>
										</div>



									</div>
								</div>

								<div class="row"
									style="background-color: rgb(243, 243, 244); margin-left: 2%;">
									<div class="row" style="width: 100%">
										<div class="col-md-1 text-center"
											style="padding-bottom: 40px; margin-top: 40px">
											<h4>Unit 1</h4>
										</div>
										<div class="col-md-3">
											<ul class="stat-list">
												<li class="font-bold">Owner</li>
												<li>Kevin Smith</li>
												<li><i class="fa fa-phone text-success ng-binding"></i>0821111111111</li>
												<li><i class="fa fa-envelope text-warning ng-binding"></i>Kevin.Smith@gmail.com</li>
											</ul>
										</div>
										<div class="col-md-3">
											<ul class="stat-list">
												<li class="font-bold">Tenant</li>
												<li>Stuart Govinder</li>
												<li><i class="fa fa-phone text-success ng-binding"></i>0821111111111</li>
												<li><i class="fa fa-envelope text-warning ng-binding"></i>Kevin.Smith@gmail.com</li>
											</ul>
										</div>
										<div class="col-md-4">
											<div class="row">
												<div class="text-center">
													<div class="col-md-12">Water and Electricity</div>
													<canvas id="barChart4"></canvas>
												</div>
											</div>
										</div>
										<div class="col-md-1">
											<div class="row">
												<label class=" label-success"
													Style="width: 100%; height: 40px; margin-bottom: 25%; text-align: center">Ave:
													<br />200Litres
												</label>
											</div>
											<div class="row">
												<label class=" label-warning"
													Style="width: 100%; height: 40px; text-align: center">Ave:<br />
													100Kw
												</label>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-md-2">
											<label class=" label-danger"
												Style="width: 90%; height: 35px; text-align: center">Tasks:
												5</label>
										</div>
										<div class="col-md-2">
											<label class="label-danger"
												Style="width: 90%; height: 35px; text-align: center">notes:
												10</label>
										</div>
										<div class="col-md-offset-1 col-md-2">
											<button class=" btn btn-success"
												Style="width: 100%; text-align: center">Edit</button>
										</div>

										<div class=" col-md-2">
											<button class="btn btn-primary"
												Style="width: 100%; margin-bottom: 5%">Email</button>
										</div>
										<div class="col-md-3">
											<button class="btn btn-warning" Style="width: 100%;">
												Add Tasks and Notes</button>
										</div>



									</div>
								</div>



							</div>

							<div id="tab-2" class="tab-pane">
								<div class="row"
									style="background-color: rgb(243, 243, 244); margin-bottom: 2%; margin-left: 2%;">
									<div class="row">
										<div class="col-md-1 text-center"
											style="padding-bottom: 40px; margin-top: 40px">
											<h4>Unit 1</h4>
										</div>
										<div class="col-md-3">
											<div class="row">
												<div class="text-center">
													<div class="col-md-12">Water and Electricity</div>
													<canvas id="barChart5"></canvas>
												</div>
											</div>
										</div>
										<div class="col-md-1" style="margin-top: 2%">
											<div class="row">
												<label class=" label-success"
													Style="width: 90%; height: 40px; margin-bottom: 25%; text-align: center">Ave:
													<br />200Litres
												</label>
											</div>
											<div class="row">
												<label class=" label-warning"
													Style="width: 90%; height: 40px; text-align: center">Ave:<br />
													100Kw
												</label>
											</div>
										</div>
										<div class="col-md-1" style="margin-top: 5%">
											<h4>Water:</h4>
										</div>
										<div class="col-md-2" style="margin-top: 4%">
											<input type="text" id="water"
												style="width: 100%; height: 50px">
										</div>
										<div class="col-md-2" style="margin-top: 5%">
											<h4>Electricity:</h4>
										</div>
										<div class="col-md-2" style="margin-top: 4%">
											<input type="text" id="electricity "
												style="width: 100%; height: 50px;">
										</div>

									</div>

									<div class="row">
										<div class="col-md-offset-8 col-md-2">
											<button class=" btn btn-success"
												Style="width: 100%; text-align: center; margin-bottom: 5%">Edit</button>
										</div>

										<div class=" col-md-2">
											<button class="btn btn-success"
												Style="width: 100%; margin-bottom: 5%">save</button>
										</div>
									</div>
								</div>

								<div class="row"
									style="background-color: rgb(243, 243, 244); margin-bottom: 2%; margin-left: 2%;">
									<div class="row">
										<div class="col-md-1 text-center"
											style="padding-bottom: 40px; margin-top: 40px">
											<h4>Unit 1</h4>
										</div>
										<div class="col-md-3">
											<div class="row">
												<div class="text-center">
													<div class="col-md-12">Water and Electricity</div>
													<canvas id="barChart6"></canvas>
												</div>
											</div>
										</div>
										<div class="col-md-1" style="margin-top: 2%">
											<div class="row">
												<label class=" label-success"
													Style="width: 90%; height: 40px; margin-bottom: 25%; text-align: center">Ave:
													<br />200Litres
												</label>
											</div>
											<div class="row">
												<label class=" label-warning"
													Style="width: 90%; height: 40px; text-align: center">Ave:<br />
													100Kw
												</label>
											</div>
										</div>
										<div class="col-md-1" style="margin-top: 5%">
											<h4>Water:</h4>
										</div>
										<div class="col-md-2" style="margin-top: 4%">
											<input type="text" id="water"
												style="width: 100%; height: 50px">
										</div>
										<div class="col-md-2" style="margin-top: 5%">
											<h4>Electricity:</h4>
										</div>
										<div class="col-md-2" style="margin-top: 4%">
											<input type="text" id="electricity "
												style="width: 100%; height: 50px;">
										</div>

									</div>

									<div class="row">
										<div class="col-md-offset-8 col-md-2">
											<button class=" btn btn-success"
												Style="width: 100%; text-align: center; margin-bottom: 5%">Edit</button>
										</div>

										<div class=" col-md-2">
											<button class="btn btn-success"
												Style="width: 100%; margin-bottom: 5%">save</button>
										</div>
									</div>
								</div>


								<div class="row"
									style="background-color: rgb(243, 243, 244); margin-left: 2%;">
									<div class="row">
										<div class="col-md-1 text-center"
											style="padding-bottom: 40px; margin-top: 40px">
											<h4>Unit 1</h4>
										</div>
										<div class="col-md-3">
											<div class="row">
												<div class="text-center">
													<div class="col-md-12">Water and Electricity</div>
													<canvas id="barChart7"></canvas>
												</div>
											</div>
										</div>
										<div class="col-md-1" style="margin-top: 2%">
											<div class="row">
												<label class=" label-success"
													Style="width: 90%; height: 40px; margin-bottom: 25%; text-align: center">Ave:
													<br />200Litres
												</label>
											</div>
											<div class="row">
												<label class=" label-warning"
													Style="width: 90%; height: 40px; text-align: center">Ave:<br />
													100Kw
												</label>
											</div>
										</div>
										<div class="col-md-1" style="margin-top: 5%">
											<h4>Water:</h4>
										</div>
										<div class="col-md-2" style="margin-top: 4%">
											<input type="text" id="water"
												style="width: 100%; height: 50px">
										</div>
										<div class="col-md-2" style="margin-top: 5%">
											<h4>Electricity:</h4>
										</div>
										<div class="col-md-2" style="margin-top: 4%">
											<input type="text" id="electricity "
												style="width: 100%; height: 50px;">
										</div>

									</div>

									<div class="row">
										<div class="col-md-offset-8 col-md-2">
											<button class=" btn btn-success"
												Style="width: 100%; text-align: center; margin-bottom: 5%">Edit</button>
										</div>

										<div class=" col-md-2">
											<button class="btn btn-success"
												Style="width: 100%; margin-bottom: 5%">save</button>
										</div>
									</div>
								</div>


							</div>
						</div>

					</div>

				</div>
			</div>

		</div>



		<div class="col-md-3 col-lg-3" ng-show="unitCtrl.block">
			<div class="row" style="margin-bottom: 15%">
				<div class="col-md-5" style="margin-top: 15%">
					<h3 class=" no-margins">Alex Smith</h3>

					<img alt="image" class="img-circle"
						src="assets/img/profile_small.jpg" />
				</div>
				<div class="col-md-7">
					<div class="row">
						<h1 class="font-bold" style="text-align: center;">Unit 1</h1>
					</div>
					<div class="row">
						<button class="btn btn-primary" style="width: 100%">
							<i class="fa fa-envelope"></i>Send Message
						</button>
					</div>
				</div>
			</div>
			<div class="row">
				<table class="table">
					<caption class="font-bold">Notes and Tasks</caption>
					<tbody>
						<tr>
							<td>please contacts me</td>
							<td>09:00 pm</td>
						</tr>
						<tr>
							<td>Sign contract</td>
							<td>10:16 am</td>
						</tr>
						<tr>
							<td>open new shop</td>
							<td>08:22 pm</td>
						</tr>
						<tr>
							<td>call back to sylvia</td>
							<td>11:06 pm</td>
						</tr>
						<tr>
							<td>write a letter to sandra</td>
							<td>12:00 am</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<script>
	var barData = {
		labels : [ "J", "F", "M", "A", "M", "J", "J" ],
		datasets : [ {
			label : "My First dataset",
			fillColor : "rgba(28,132,198,0.5)",
			strokeColor : "rgba(28,132,198,0.8)",
			highlightFill : "rgba(28,132,198,0.75)",
			highlightStroke : "rgba(28,132,198,1)",
			data : [ 65, 59, 80, 81, 56, 55, 40 ]
		}, {
			label : "My Second dataset",
			fillColor : "rgba(248,172,89,0.5)",
			strokeColor : "rgba(248,172,89,0.8)",
			highlightFill : "rgba(248,172,89,0.75)",
			highlightStroke : "rgba(248,172,89,1)",
			data : [ 28, 48, 40, 19, 86, 27, 90 ]
		} ]
	};

	var barOptions = {
		scaleBeginAtZero : true,
		scaleShowGridLines : true,
		scaleGridLineColor : "rgba(0,0,0,.05)",
		scaleGridLineWidth : 1,
		barShowStroke : true,
		barStrokeWidth : 2,
		barValueSpacing : 5,
		barDatasetSpacing : 1,
		responsive : true,
	}

	var ctx2 = document.getElementById("barChart2").getContext("2d");
	var myNewChart2 = new Chart(ctx2).Bar(barData, barOptions);
	var ctx3 = document.getElementById("barChart3").getContext("2d");
	var myNewChart3 = new Chart(ctx3).Bar(barData, barOptions);
	var ctx4 = document.getElementById("barChart4").getContext("2d");
	var myNewChart4 = new Chart(ctx4).Bar(barData, barOptions);
	var ctx5 = document.getElementById("barChart5").getContext("2d");
	var myNewChart5 = new Chart(ctx5).Bar(barData, barOptions);
	var ctx6 = document.getElementById("barChart6").getContext("2d");
	var myNewChart6 = new Chart(ctx6).Bar(barData, barOptions);
	var ctx7 = document.getElementById("barChart7").getContext("2d");
	var myNewChart7 = new Chart(ctx7).Bar(barData, barOptions);
</script>