<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-3 col-md-3" style="background:#fff; padding:10px;">
			Scheduled events this month <span class="pull-right">1</span><br/>
			Scheduled events within six months<span class="pull-right">4</span><br/>
			Scheduled events longer than six months <span class="pull-right">30</span><br/><br/>
			
			Warranties expiring this month <span class="pull-right">1</span><br/>
			Warranties expiring within six months<span class="pull-right">4</span><br/>
			Warranties expiring longer than six months <span class="pull-right">30</span><br/>
		</div>	
		<div class="col-lg-9 col-md-9">
			<div class="ibox float-e-margins">
				<div class="ibox-content">
					<div class="calendar">
						
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-12 col-md-12" style="background:#fff; padding:10px;">
			<div class="col-lg-2 col-md-2">
				<div class="input-group">
					<input class="form-control" type="text" placeholder="Search" name="search">
					<span class="input-group-btn">
						<i class="fa fa-search"></i>
					</span>
				</div>
			</div>
			<div class="col-lg-2 col-md-2">
				<div class="input-group">
					<input class="form-control" type="text" placeholder="Filter" name="filter">
					<span class="input-group-btn">
						<i class="fa fa-filter"></i>
					</span>
				</div>
			</div>
			<div class="col-lg-2 col-md-2">
				<div class="input-group">
					<input class="form-control" type="text" placeholder="From date" name="from">
					<span class="input-group-btn">
						<i class="fa fa-calender"></i>
					</span>
				</div>
			</div>
			<div class=" col-lg-2 col-md-2">
				<div class="input-group">
					<input class="form-control" type="text" placeholder="To date" name="to">
					<span class="input-group-btn">
						<i class="fa fa-calender"></i>
					</span>
				</div>
			</div>
			<div class="col-lg-2 col-md-2"><!-- scheduleOverviewCtrl.openModal() -->
				<button ng-click="scheduleOverviewCtrl.openModal()" class="btn btn-primary">New <i class="fa fa-plus"></i></button>
			</div>
		</div>
		<div class="col-lg-12 col-md-12" style="background:#fff; margin-top:10px;margin-bottom:10px; padding:5px;">
			<div class="col-lg-9 col-md-9">
				<h1>Heading: Painting</h1>
				<div id="ionrange_1"></div>
				<b class="pull-left">Jan 2015</b> <b class="pull-right">Next: Jan 2017</b>
				<div class="col-lg-12 col-md-12">
				<h5>Existing warranties:</h5>
				<div class="col-lg-6 col-md-6" style="border:3px solid #14a22f; border-radius:4px;"></div>
				<div class="col-lg-2 col-md-2"><b>Paint Color</b></div>
				<div class="col-lg-2 col-md-2">Time remaining</div>
				<div class="col-lg-2 col-md-2">45 days</div>
				
				<div class="col-lg-6 col-md-6" style="border:3px solid #a2142f; border-radius:4px;"></div>
				<div class="col-lg-2 col-md-2"><b>Anti Cracking</b></div>
				<div class="col-lg-2 col-md-2">Time remaining</div>
				<div class="col-lg-2 col-md-2">100 days</div>
				
				<div class="col-lg-6 col-md-6" style="border:3px solid #142fa2; border-radius:4px;"></div>
				<div class="col-lg-2 col-md-2"><b>Durability</b></div>
				<div class="col-lg-2 col-md-2">Time remaining</div>
				<div class="col-lg-2 col-md-2">60 days</div>
				
				</div>
			</div>
			<div class="col-lg-3 col-md-3">
				<button class="btn btn-white btn-lg" style="width:100%; border:4px solid #ccc;font-size:15px;">Days remaining: 625</button><br/><br/>
				<button class="btn btn-success" style="width:100%;border:2px solid #fff;">Open</button><br/>
				<button class="btn btn-danger" style="width:100%;border:2px solid #fff;">Delete</button><br/>
				<button class="btn btn-primary" style="width:100%;border:2px solid #fff;">Send to Tasks</button>
			</div>
		</div>
		
		<div class="col-lg-12 col-md-12" style="background:#fff; margin-top:10px;margin-bottom:10px; padding:5px;">
			<div class="col-lg-9 col-md-9">
				<h1>Heading</h1>
				Time remaining to the next scheduling event
				<div id="ionrange_2"></div>
				<b class="pull-left">Jan 2015</b> <b class="pull-right">Next: Jan 2017</b>
				<div class="col-lg-12 col-md-12">
					<h5>Existing warranties:</h5>
					<span style="color:#a1452e"> No associated warranties </span>				
				</div>
			</div>
			<div class="col-lg-3 col-md-3">
				<button class="btn btn-white btn-lg" style="width:100%; border:4px solid #ccc;font-size:15px;">Days remaining: 625</button><br/><br/>
				<button class="btn btn-success" style="width:100%;border:2px solid #fff;">Open</button><br/>
				<button class="btn btn-danger" style="width:100%;border:2px solid #fff;">Delete</button><br/>
				<button class="btn btn-primary" style="width:100%;border:2px solid #fff;">Send to Tasks</button>
			</div>
		</div>

	</div>
</div>

<script src="vendors/plugins/fullcalendar/moment.min.js"></script>
<script src="vendors/plugins/fullcalendar/fullcalendar.min.js"></script>
<script src="vendors/plugins/ionRangeSlider/ion.rangeSlider.min.js"></script>
   

<script>

$(document).ready(function ($) {
	$("#ionrange_1").ionRangeSlider({
    	min: 0,
    	max: 5000,
	    type: 'double',
	    prefix: "$",
	    maxPostfix: "+",
	    prettify: false,
	    hasGrid: true
	});
	
	$("#ionrange_2").ionRangeSlider({
	    min: 0,
	    max: 5000,
	    type: 'double',
	    prefix: "$",
	    maxPostfix: "+",
	    prettify: false,
	    hasGrid: true
	});
	
	/* initialize the calendar
	-----------------------------------------------------------------*/
	var date = new Date();
	var d = date.getDate();
	var m = date.getMonth();
	var y = date.getFullYear();
	
	$('.calendar').fullCalendar({
	    header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay'
    },
    editable: true,
    droppable: true, // this allows things to be dropped onto the calendar
    drop: function() {
        // is the "remove after drop" checkbox checked?
        if ($('#drop-remove').is(':checked')) {
            // if so, remove the element from the "Draggable Events" list
            $(this).remove();
        }
    },
    events: [
        {
            title: 'All Day Event',
            start: new Date(y, m, 1)
        },
        {
            title: 'Long Event',
            start: new Date(y, m, d-5),
            end: new Date(y, m, d-2),
        },
        {
            id: 999,
            title: 'Repeating Event',
            start: new Date(y, m, d-3, 16, 0),
            allDay: false,
        },
        {
            id: 999,
            title: 'Repeating Event',
            start: new Date(y, m, d+4, 16, 0),
            allDay: false
        },
        {
            title: 'Meeting',
            start: new Date(y, m, d, 10, 30),
            allDay: false
        },
        {
            title: 'Lunch',
            start: new Date(y, m, d, 12, 0),
            end: new Date(y, m, d, 14, 0),
            allDay: false
        },
        {
            title: 'Birthday Party',
            start: new Date(y, m, d+1, 19, 0),
            end: new Date(y, m, d+1, 22, 30),
            allDay: false
        },
        {
            title: 'Click for Google',
            start: new Date(y, m, 28),
            end: new Date(y, m, 29),
            url: 'http://google.com/'
        }
    	],
	});
});

</script>