<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-content">
					<div class="row">
						<div class="col-sm-5">
							<div class="input-group">
								<input type="text" placeholder="Category name ..."
									class="input-sm form-control col-sm-5"> <span
									class="input-group-btn">
									<button type="button" class="btn btn-sm btn-warning">
										<i class="fa fa-search"></i> Search
									</button>
								</span>
							</div>
						</div>
						<div class="col-sm-3 m-b-xs">
							<a ui-sref="taskCategoryForm" class="btn btn-sm btn-primary">
								<i class="fa fa-plus"></i> New category
							</a>
						</div>
						<div class="col-sm-4 m-b-xs">
							<a ui-sref="taskList" class="btn btn-sm btn-primary pull-right">
								<i class="fa fa-navicon"></i> Task list
							</a>
						</div>

					</div>
					<div class="table-responsive">
						<table class="table table-striped table-hover">
							<thead>
								<tr>
									<th>#</th>
									<th>Name</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="taskCategory in taskCategoryList.taskCategories">
									<td>{{$index + 1}}</td>
									<td>{{taskCategory.name}}</td>
									<td>
										<button class="btn btn-sm btn-primary"
											ng-click="taskCategoryList.editTaskCategory(taskCategory);">
											<i class="fa fa-edit"></i> Edit
										</button>
										<button class="btn btn-sm btn-danger"
											ng-click="taskCategoryList.removeTaskCategory(taskCategory);">
											<i class="fa fa-trash-o"></i> Remove
										</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>

				</div>
			</div>
		</div>

	</div>
</div>
</div>
