<div style="margin-top: 10px;" class="col-lg-7">
	<div class="ibox float-e-margins">
		<div class="ibox-content">
			<form class="form-horizontal">
				<div class="form-group">
					<label class="col-lg-2 control-label">Name </label>

					<div class="col-lg-10">
						<input ng-model="taskCategoryForm.taskCategory.name" type="text"
							class="form-control">
					</div>
				</div>
				<hr>
				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-10">
						<button class="btn btn-sm btn-primary"
							ng-click="taskCategoryForm.save();">
							<i class="fa fa-check"></i> Save
						</button>
						<button class="btn btn-sm btn-danger"
							ng-click="taskCategoryForm.cancel();">
							<i class="fa fa-times"></i> Cancel
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
</div>