<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-content">
					<div class="row">
						<div class="col-sm-5">
							<div class="input-group">
								<input type="text" placeholder="Task heading ..."
									class="input-sm form-control col-sm-5"> <span
									class="input-group-btn">
									<button type="button" class="btn btn-sm btn-warning">
										<i class="fa fa-search"></i> Search
									</button>
								</span>
							</div>
						</div>
						<div class="col-sm-3 m-b-xs">
							<a ui-sref="taskDetails" class="btn btn-sm btn-primary"> <i
								class="fa fa-plus"></i> New task
							</a>
						</div>
						<div class="col-sm-4 m-b-xs">
							<a ui-sref="taskCategoryList"
								class="btn btn-sm btn-primary pull-right"> <i
								class="fa fa-navicon"></i> Manage task categories
							</a>
						</div>

					</div>
					<div class="table-responsive">
						<table class="table table-striped table-hover">
							<thead>
								<tr>
									<th>#</th>
									<th>Ref Number</th>
									<th>Heading</th>
									<th>Unit</th>
									<th>Category</th>
									<th>Requested by</th>
									<th>date of creation</th>
									<th>date of estimated completion</th>
									<th>date of closure</th>
									<th>Status</th>
									<th>PKI Score</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="task in taskList.tasks">
									<td>{{$index + 1}}</td>
									<td>{{task.refNumber}}</td>
									<td>{{task.unitId}}</td>
									<td>{{task.category.name}}</td>
									<td>{{task.requestedBy.firstName}}
										{{task.requestedBy.lastName}}</td>
									<td>{{task.createdDate}}</td>
									<td>{{task.completeDate}}</td>
									<td>{{task.closedDate}}</td>
									<td>{{task.status}}</td>
									<td>{{task.pkiScore}}</td>
									<td>
										<a ng-click="taskList.overviewOfTask(task);"><i
											class="fa fa-eye text-primary fa-lg"></i>
										</a> 
										<a ng-click="taskList.editTask(task);"><i
											class="fa fa-edit text-navy fa-lg"></i>
										</a> 
										<a
										ng-click="taskList.removeTask(task);"><i
											class="fa fa-remove text-danger fa-lg"></i>
										</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>

				</div>
			</div>
		</div>

	</div>
</div>
</div>
