<div style="margin-top: 10px;" class="col-lg-8 white-bg" >
    <div class="ibox float-e-margins">
        <div class="ibox-content">			
			<form form-for ="taskDetails.task"  class="form-horizontal" validation-rules = "taskDetails.rules" submit-with="taskDetails.save();">
				<div class="col-lg-7 task-body">
					
					<text-field attribute="subject" label="Subject" ></text-field>
					
					<text-field attribute="refNumber" label="Reference Number "></text-field>
					
					<text-field multiline attribute="description" label="Description"></text-field>
					
	               <div class="form-group" ng-show="taskDetails.isUpdate" ng-disabled="(taskDetails.isClosed == false)">
	               		<span class="col-lg-2 ">Created At </span>
	                    	<div class="col-lg-10" >
	                    		<date ng-model="taskDetails.task.createdDate"></date>
	                    	</div>
                   </div>
                   
                   <div class="form-group" ng-show="taskDetails.isCompleted" ng-disabled="taskDetails.canDisableComplateAt()">
	               		<span class="col-lg-2 ">Completed At </span>
	                    	<div class="col-lg-10" >
	                    		<date ng-model="taskDetails.task.completedDate"></date>
	                    	</div>
                   </div>
                   
                   <div class="form-group" ng-show="taskDetails.isClosed" ng-disabled="(taskDetails.isClosed == false)">
	               		<span class="col-lg-2 ">Closed At </span>
	                    	<div class="col-lg-10" >
	                    		<date ng-model="taskDetails.task.closedDate"></date>
	                    	</div>
                   </div>
	               
                  <div class="form-group"><span class="col-lg-2 ">Category </span>
	
	                    <div class="col-lg-8">
	                        <select class="form-control"
	                                ng-model="taskDetails.task.category"
	                                ng-options="c as c.name  for c in taskDetails.taskCategories">
	                            <option value=""> select category ... </option>
	                        </select>
	                        
	                    </div>
	                    <div class="col-lg-2">
	                    <submit-button ng-click="taskDetails.addTaskCat();" label="Add" icon="fa fa-plus" button-class="btn btn-sm btn-primary"> 
	                    	
	                    </submit-button></div>
	                </div>
	                      
				
			<div class="form-group"><span class="col-lg-2 ">Assign To</span>
	
                  <div class="col-lg-8">
                      <select class="form-control"
                              ng-model="taskDetails.assignTo"
                              ng-options="u as u.firstName + ' '+ u.lastName  for u in taskDetails.users">
                          <option value=""> select User ... </option>
                      </select>
                      
                  </div>
                  <div class="col-lg-2">
                  <submit-button ng-click="taskDetails.addUser();" label="New User" icon="fa fa-user" button-class="btn btn-sm btn-primary"> 
                  	
                  </submit-button></div>
              </div>	
              
              	<div class="form-group"><span class="col-lg-2 ">Unit</span>
	
                  <div class="col-lg-12">
                      <select class="form-control"
                              ng-model="taskDetails.unitId"
                              ng-options="u.propertyId as u.name  for u in taskDetails.units">
                          <option value=""> select Unit ... </option>
                      </select>
                      
                  </div>
              </div>	
              
              
				
				<hr>
	
	          <!-- submit-button  
	          		button-class ="btn btn-sm btn-success" 
	          		ng-click="taskDetails.save();" 
	          		label="{{taskDetails.saveButton}}"
	          		icon="fa fa-save"
         	  -->
	          
	          </submit-button>
              <submit-button  
              		button-class ="btn btn-sm btn-danger" 
              		ng-click="taskDetails.backToList();"
              		label="Back to List"
              		icon="fa fa-backward"
       		  >
           	  </submit-button>
           	  
           	  <a ui-sref="taskOverview" class="btn btn-sm btn-primary"> 
           	  			<i class="fa fa-forward fa-lg">Next</i> 
			  </a>
             
            </div>   
		 </form>
        </div>
    </div>
</div>