<div style="padding:10px;">
    <div class="task-heading">
			<div class="col-md-2 col-lg-2 visible-lg visible-md">
					<ul class="list-unstyled" style="margin-top:50px;">
						<li style='float:left;'>Task</li>
						<li style='float:left;'><div style="font-weight:bold;width:20px;height:20px;background:black; margin-left:10px;margin-right:10px;"></div></li>
						<li style='float:left;'>Note</li>
						<li style='float:left;'><div style="font-weight:bold;width:20px;height:20px;background:black; margin-left:10px;"></div></li>
					</ul>
			</div>
			
			<div class="col-md-4 col-lg-4 visible-lg visible-md">
			
				<div class="font-bold mb1 pt1">
					<span> Reference Number : </span> <span class="font-bold text-uppercase" style="background:#99D9EA;color:white;padding:0px 15px 0px 15px;margin-top:5px;">{{taskOverview.refNumber}}</span>
				</div>
			
				<div class="mt1 pt1 pb1">
					Created By : <span class="font-bold " style="background:#99D9EA;color:white;padding:0px 15px 0px 15px;margin-top:5px;">Stephen Van T</span>
				</div>
				<div class="pt1">
					Assigned To :  <span class="font-bold " style="background:#99D9EA;color:white;padding:0px 15px 0px 15px;margin-top:5px;">Stephen Van T</span>
				</div>
				
				<div class="clear clearfix"></div>
			</div>

			<div class="col-md-3 col-lg-3 visible-lg visible-md">
				<div style="max-width:100px;color:black;font-size:20px;"
				    round-progress
				    max="100"
				    current="45"
				    color="#1AB394"
				    bgcolor="#EAEAEA"
				    radius="35"
				    stroke="8"
				    semi="false"
				    rounded="true"
				    clockwise="true"
				    iterations="50"
				    animation="easeInOutQuart"
			    >
				    37
	    		</div>
	    		<div class="clear clearfix"></div>
	    		<button class="btn btn-warning" style="font-size:13px;padding: 1px;border-radius: 5px;padding-left: 10px;padding-right: 10px;">Imminement</button>
				
			</div>
			
			<div class ="col-md-3 col-lg-3 visible-lg visible-md">
				<button class="btn mt1" style="background:#00A2E8;color:white;">OPEN</button>
				<button class="btn btn-danger clear clearfix mt1">Delete</button>
			</div>
	</div>
	
	<div class="clear clearfix full-width" style="margin-bottom:30px; border-bottom:1px solid black;padding-bottom:6px;font-size:14px;margin-top:10px;">
		<div class="progress-bar-wrapper" style="margin-top:10px;">
		  <ol class="wizard-progress">
		    <li class="active-step">
		        <span class="step-num">1</span>
				<span class="step-name"> Details Created</span>
		    </li>
		    <li class="active-step">
		       <span class="step-num">2</span>
			    <span class="step-name">Sent To Vendor</span>
		    </li>
		    <li class="active-step">
		        <span class="step-num">3</span>
				<span class="step-name">Approval</span>
		    </li>
		    <li class="active-step">
		        <span class="step-num">4</span>
				<span class="step-name">Contact Awarded</span>
		    </li>
		    <li class="active-step">
		        <span class="step-num">5</span>
				<span class="step-name">Payment made</span>
		    </li>
		    <li class="active-step">
		        <span class="step-num">6</span>
				<span class="step-name">Job Completed</span>
		    </li>
		</ol>
		  
		</div>
	</div>
	
	<div class="clear clearfix overview-body">
			<div class="form-wrapper clear clearfix">
				<div class="col-md-2 col-lg-2">
					<button class="btn btn-white border-black font-bold">Task or Note</button>
				</div>
				<div class="col-md-2 col-lg-2">
					<button class="btn btn-white border-black font-bold">Heading</button>
				</div>
				<div class="col-md-2 col-lg-2">
					<button class="btn btn-white border-black font-bold">DUE DATE</button>
				</div>
				<div class="col-md-3 col-lg-3">
					<button class="btn" style="font-weight:bold;color:white;background:#B5E61D">Created Date : 1 March 2014</button>
				</div>
				<div class="col-md-3 col-lg-3">
					<button class="btn btn-danger font-bold">Day Overdue : 24</button>
				</div>
				<div class="clear clearfix full-width"></div>
				<div class="col-md-2 col-lg-2">
					<button class="btn btn-white border-black font-bold mt1">Assign To : </button>
				</div>
				<div class="col-md-2 col-lg-2">
					<button class="btn btn-white border-black font-bold mt1">Area : </button>
				</div>
			</div>
			
			<div class="clear clearfix full-width " style="margin-top:0px;">
				<div class="col-md-6 col-lg-6">
					<div class="form-group mt1 clear clearfix">
						<div class="col-md-offset-2 col-lg-offset-2" style="font-weight:bold;border-bottom:10px solid #CECECE;margin-top:24px;margin-bottom:10px;font-size:15px;">
							Add Details
						</div>	
						<div class="col-lg-2 col-md-2 h4 clear clearfix"  style="font-weight:bold;">
							Step 1
						</div>
						<div class="col-md-10 col-lg-10">
							<button class="btn btn-white border-black full-width text-left font-bold" >Enter A new Comment</button>
						</div>
						<button class="btn btn-black btn-small pull-right" style="padding:0px 15px 0px 15px;margin-top:5px;">Next</button>
					</div>	
					<div class="form-group mt1 clear clearfix">
						<div class="col-md-offset-2 col-lg-offset-2" style="font-weight:bold;border-bottom:10px solid #CECECE;margin-bottom:5px;font-size:15px;">
							Send To vendors
						</div>
						<div class="col-lg-2 col-md-2 h4 clear clearfix"  style="font-weight:bold;">
							Step 2
						</div>
						<div class="col-md-10 col-lg-10">
							<div class="btn btn-white border-black full-width text-left font-bold" >
								Add Vendor
								<div class="pull-right btn-black btn-small btn" style="padding:0px 15px 0px 15px">Email</div>
							</div>
						</div>
						<button class="btn btn-black btn-small pull-right" style="padding:0px 15px 0px 15px;margin-top:5px;">Next</button>
					</div>	
					<div class="form-group mt1 clear clearfix">
						<div class="col-md-offset-2 col-lg-offset-2" style="font-weight:bold;border-bottom:10px solid #CECECE;margin-bottom:5px;font-size:15px;">
							Approval :
						</div>
						<div class="col-lg-2 col-md-2 h4 clear clearfix" style="font-weight:bold;">
							Step 3
						</div>
						<div class="col-md-10 col-lg-10">
							<div class="btn btn-white border-black full-width text-left font-bold" >
								Send for Approval
								<div class="pull-right btn-black btn-small btn" style="padding:0px 15px 0px 15px">Email</div>
							</div>
							<div class="btn btn-white border-black full-width text-left font-bold mt1" >
								Add Approval
								<div class="pull-right btn-black btn-small btn" style="padding:0px 15px 0px 15px">Add</div>
							</div>
						</div>
						<button class="btn btn-black btn-small pull-right" style="padding:0px 15px 0px 15px;margin-top:5px;">Next</button>
					</div>	
					<div class="form-group mt1 clear clearfix">
						<div class="col-md-offset-2 col-lg-offset-2" style="font-weight:bold;border-bottom:10px solid #CECECE;margin-bottom:5px;font-size:15px;">
							Awarded To
						</div>
						<div class="col-lg-2 col-md-2 h4 clear clearfix" style="font-weight:bold;">
							Step 4
						</div>
						<div class="col-md-10 col-lg-10">
							<button class="btn btn-white border-black full-width text-left font-bold" >Add Vendor</button>
						</div>
						<button class="btn btn-black btn-small pull-right" style="padding:0px 15px 0px 15px;margin-top:5px;">Next</button>
					</div>	
					<div class="form-group mt1 clear clearfix">
						<div class="col-md-offset-2 col-lg-offset-2" style="font-weight:bold;border-bottom:10px solid #CECECE;margin-bottom:5px;font-size:15px;">
							Payments
						</div>
						<div class="col-lg-2 col-md-2 h4 clear clearfix"  style="font-weight:bold;">
							Step 5
						</div>
						<div class="col-md-10 col-lg-10">
							<button class="btn btn-black btn-small mr1" >Add Invoice</button>
							<button class="btn btn-white btn-small ml1 mr1 border-black" >Deposit Paid <span class="font-bold" style="margin-left:10px;margin-right:10px;">|</span></button>
							<button class="btn btn-white btn-small ml1 border-black">Paid in Full<span class="font-bold" style="margin-left:10px;margin-right:10px;">|</span></button>
							
							<ul class="list-unstyled clear clearfix" style="margin-top:15px;">
								<li style='float:left;'>Insurance Claim</li>
								<li style='float:left;'><div style="font-weight:bold;width:15px;height:15px;background:black; margin-left:10px;margin-right:10px;"></div></li>
								<li style='float:left;'>Property Cost</li>
								<li style='float:left;'><div style="font-weight:bold;width:15px;height:15px;background:black; margin-left:10px;"></div></li>
								<li style='float:left;margin-left:10px;'>Residents Cost</li>
								<li style='float:left;'><div style="font-weight:bold;width:15px;height:15px;background:black; margin-left:10px;"></div></li>
								<li style='float:left;margin-left:10px'>N/A</li>
								<li style='float:left;'><div style="font-weight:bold;width:15px;height:15px;background:black; margin-left:10px;"></div></li>
							</ul>
							<button class="btn btn-small pull-right btn-black" style="padding:0px 15px 0px 15px">NEXT</button>
						</div>
					</div>	
					<div class="form-group mt1 clear clearfix">
						<div class="col-md-offset-2 col-lg-offset-2" style="font-weight:bold;border-bottom:10px solid #CECECE;margin-bottom:5px;font-size:15px;">
							Close
						</div>
						<div class="col-lg-2 col-md-2 h4 clear clearfix"  style="font-weight:bold;">
							Step 6
						</div>
						<div class="col-md-10 col-lg-10">
							<button class="btn btn-black mr1">Close As INCOMPLETE</button>
							<button class="btn btn-black ml1">Close As COMPLETED</button>
						</div>
					</div>	
				</div>
				<div class="col-md-6 col-lg-6">
					<div class="col-md-offset-6 col-lg-offset-6">
						<button class="btn mr1 btn-black" style="">Add Park</button>
						<button class="btn ml1 btn-black" style="">Add Doc</button>
					</div>
					
					<div class="clear clearfix full-width">
					
					<div class="" style="font-weight:bold;border-bottom:10px solid #CECECE;font-size:15px;">
						Informations
					</div>
					<div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 btn btn-black text-center mt1 mb1">
						Email Full Track / Note Details
					</div>
					
					<div class="clear clearfix full-width" style="margin-top:20px;">
						<div class="alert-info pt1 pl1 pr1 pb1 alert mb1">
							This is a decent size Lorent chromisus sctritutm avase ddess Es coendo  essaset esated sees
						</div>
						
						<div class="alert-info pt1 pl1 pr1 pb1 alert mb1">
							This is a decent size Lorent chromisus sctritutm avase ddess Es coendo  essaset esated sees
						</div>
						
						<div class="alert-info pt1 pl1 pr1 pb1 alert mb1">
							This is a decent size Lorent chromisus sctritutm avase ddess Es coendo  essaset esated sees
						</div>
						
						<div class="alert-info pt1 pl1 pr1 pb1 alert mb1">
							This is a decent size Lorent chromisus sctritutm avase ddess Es coendo  essaset esated sees
						</div>
						
						<div class="alert-info pt1 pl1 pr1 pb1 alert mb1">
							This is a decent size Lorent chromisus sctritutm avase ddess Es coendo  essaset esated sees
						</div>
						
					</div>
					
				</div>
			</div>
	</div>
		
</div>
