
/* Custom css of style.css file */
.hr-line-solid{
    margin-top: 0px;
    margin-bottom: 0px;
    border-bottom-width: 0px;
    height: 15px;
    border-style: none !important;
    border: 2px solid #e7eaec;
}

.p-m{padding-top: 10px; padding-bottom: 5px;}

/***
	The black bg was already defined in the styles.css file
**/
.black-bg{background-color: #2f4050; color: #FFF;}

.font-bold-custom{font-size: 78px;}

.ibox-content h1{margin-top: 0px;}z

.widget .flot-chart{height: 57px;}

.h-200{min-height: 100px; min-width: 200px;}

hr{margin-top: 8px; margin-bottom: 5px;}

.label-white{color: #fff;}

.stat-list li{margin-top: 4px;}


[class*='col-']:after .vdivide {
    background: #e0e0e0;
    width: 1px;
    content: "";
    display:block;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    min-height: 70px;
}

.label-width{display: inline-block; width: 90%;}
.content-custom{padding: 5px;}
.modal.modal-wide .modal-dialog {
    width: 90%;
}
.modal-wide .modal-body {
    overflow-y: auto;
}
