

.wizard-progress {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    float: left;
    white-space: nowrap;
}

.wizard-progress li {
    float: left;
    margin-right: 50px;
    text-align: center;
    position: relative;
    width: 100px;
}

.wizard-progress .step-name {
    display: table-cell;
    height: 32px;
    vertical-align: bottom;
    text-align: center;
    width: 100px;
	color:#ccc;
    font-weight: 600;
}
.wizard-progress .active-step .step-name {
	color:#1AB394;
	font-weight:bold;
}
.wizard-progress .step-name-wrapper {
    display: table-cell;
    height: 100%;
    vertical-align: bottom;
}

.wizard-progress .step-num {
   border: 2px solid #ddd;
  width: 30px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  height: 30px;
  line-height: 30px;
  display: inline-block;
  background: none repeat scroll 0 0 #ddd;
  border-radius: 50%;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2) inset;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.wizard-progress .step-num:after {
    content: "";
  display: block;
  background: #1AB394;
  height: 8px;
  width: 130px;
  position: absolute;
  bottom: 43px;
  left: 64px;
}

.wizard-progress li:last-of-type .step-num:after {
    display: none;
}

.wizard-progress .active-step .step-num {
    background-color: #1AB394;
	border: 2px solid #1AB394;
}





