<div class="loginColumns animated fadeInDown">
    <div style=""  ng-hide="Access.isRegistration" class="row">
    	<div style="min-height:280px;overflow-y:hidden;margin-bottom:20px;" class="visible-lg visible-md full-width">
    		<div class="slideCarousel col-md-7 col-lg-7 no-margin no-padding">
	  		    <!-- Carousel -->
			    <carousel interval="slideInterval" class="math-heigh-side">
			        <slide ng-repeat="img in images">
			   		  <img ng-src="assets/img/{{currentFolder}}/{{img}}" alt="Slide number">	
			          <div class="carousel-caption"></div>
			        </slide>
			      </carousel>
			    <!-- /.carousel -->
  			</div>
  			
  			<!-- / Map -->
  			
    		<div class="col-md-5 col-lg-5 no-margins no-padding">
	    		<div id="world-map" style="height:280px;padding:10px;max-height:300px;background:white;" class="full-width math-heigh-side">
	    		</div>	
   			</div>
    		<script type="text/javascript">
	    		 	var mapData =  {
	    	                "US": 498,
	    	                "SA": 200,
	    	                "CA": 1300,
	    	                "DE": 220,
	    	                "FR": 540,
	    	                "CN": 120,
	    	                "AU": 760,
	    	                "BR": 550,
	    	                "IN": 200,
	    	                "GB": 120,
	    	                "RU": 2000
	    	            };

    	            $('#world-map').vectorMap({
    	                map: 'world_mill_en',
    	                backgroundColor: "white",
    	                regionStyle: {
    	                    initial: {
    	                        fill: '#e4e4e4',
    	                        "fill-opacity": 1,
    	                        stroke: 'none',
    	                        "stroke-width": 0,
    	                        "stroke-opacity": 0
    	                    }
    	                }
    	            	,
    	                series: {
    	                    regions: [{
    	                        values: mapData,
    	                        scale: ["#1ab394", "#22d6b1"],
    	                        normalizeFunction: 'polynomial'
    	                    }]
    	                }
    	            });
    	            
    	           
    	            //match Eight : 
    	            $(".math-heigh-side").matchHeight();
           		</script>
		    </div>
		    
		     <div class="visible-sm visible-xs" style="padding-top:120px;"></div>     
        <div class="full-width clear clearfix">
            <div class="col-md-4 col-md-offset-2 hidden-xs col-lg-4 col-lg-offset-2">
	            <h2 class="font-bold">Welcome to ControlPoint</h2>
	            <p style="font-size:14px;">
	               The ultimate property management solution for owners, caretakers, body corporates and property managers. 
	            </p>
	            <p style="font-size:14px;">
	                A complete management tool for effective Communication, Tracking, Visibility, Awareness and Accountability.   
	            </p>
	        </div>
        
	        <div class="col-md-3 col-md-offset-1  col-sm-8 col-sm-offset-2 col-lg-3 col-lg-offset-1">
	            <div  class="ibox-content">
	                <form  role="form" novalidate name="loginForm" angular-validator>
	                    <div class="form-group">
	                        <input autocomplete="false" type="email" name="email"
	                               ng-model="Access.credential.j_username"
	                               class="form-control" placeholder="Email" required
	                               invalid-message="'Invalid Email ...'"
	                               required-message="'Email is required...'" validate-on="dirty">
	
	                    </div>
	                    <div class="form-group">
	                        <input autocomplete="false" type="password" name="password" ng-model="Access.credential.j_password" class="form-control" placeholder="Password" required=""
	                               required-message="'Password is required...'" validate-on="dirty">
	
	                    </div>
	                    <div class="form-group">
	                            <div class="checkbox"><label> <input class="i-checks" type="checkbox"><i></i> Remember Me ? </label></div>
	                     </div>
	                    <button ng-click="Access.login();" class="btn btn-primary block full-width m-b" ng-disabled="loginForm.$invalid">Login</button>
	
	                    <a href="#">
	                        <small>Forgot password?</small>
	                    </a>
	
	                    <p class="text-muted text-center">
	                        <small>Do not have an account?</small>
	                    </p>
	                    <a  ng-click="Access.goToRegistration();"  class="btn btn-sm btn-white btn-block text-info" >Create an account for a free trial</a>
	                </form>
	                <p class="m-t">
	                    <small>Controlpoint Asset Management system  &copy; 2015</small>
	                </p>
	            </div>
	        </div>
        </div>
		    
	   </div>   
	</div>

    <div style="padding-top: 70px;" ng-show="Access.isRegistration" class="row">
        <div class="col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-4">
            <div  class="ibox-content">
                <h3 class="text-center">Register to Controlpoint</h3>
                <form class="m-t" role="form" form-for="Access.regData"  validation-rules="Access.vRules">
                  	<div class="col-md-12">    
                    	<text-field attribute="company" ng placeholder="Company Name" placeholder="Company Name" icon-before="fa fa-money"></text-field>
                 	 </div>  
	            	<div class="col-lg-6">
	         		    <text-field attribute="firstname" placeholder="First Name" icon-before="fa fa-user"></text-field>
	                </div>
	                
	               <div class="col-lg-6">
	                	 	<text-field attribute="lastname" placeholder="Last Name" icon-before="fa fa-user"></text-field>
	           		</div>
	           	     <div class="col-lg-6" >
	                	  <text-field placeholder="Country of residence" attribute="country" icon-before="fa fa-flag-checkered"  ></text-field>		
	                 </div> 
	                 <div class="col-lg-6" >
	                	  <text-field placeholder="City" attribute="city" icon-before="fa fa-map-marker"  ></text-field>		
	                 </div> 
       	         	<div class="col-lg-6">  
	                 	<text-field attribute="mobile" placeholder="Mobile Phone" icon-before="glyphicon glyphicon-phone"></text-field>	
                 	</div>
                 	
                 	<div class="col-lg-6">  
	                 	<text-field attribute="homePhone" placeholder="Home Phone" icon-before="glyphicon glyphicon-phone-alt"></text-field>	
                 	</div>
                 	            		
            		<div class="col-lg-12">  
	           	    	 <text-field attribute="email" placeholder="Email" icon-before="fa fa-envelope" type="email"></text-field>
	           	    </div>
	           	    
    	            <div class="col-lg-6" >
	                  	  <text-field placeholder="Password" attribute="password" icon-before="fa fa-key" type="password" ></text-field>	
	               	 </div>
		             <div class="col-lg-6" >
	                	  <text-field placeholder="Confirm Password" attribute="confPassword" icon-before="fa fa-key" type="password" ></text-field>		
	                 </div>
	                 
	                 <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
	           	    	<radio-field attribute="gender" placeholder="Gender" options="Access.genders"></radio-field>	
	           	    </div>
	                 
                 <div class="col-md-12">
                     <div class="checkbox"><label> <input class=" i-checks" type="checkbox"><i></i> Agree the terms and policy </label></div>
                 </div>
                 
                 <div class="clear clearfix full-width"></div>
                
                <button ng-click="Access.registration();" class="btn btn-primary block full-width m-b">Register</button>
                    <p class="text-muted text-center"><small>Already have an account?</small></p>
                    <a class="btn btn-sm btn-white btn-block text-info"  ng-click="Access.gotToLogin();" >Login</a>
                </form>
                <p class="m-t">
                    <small>Controlpoint Asset Management system  &copy; 2015</small>
                </p>
            </div>
        </div>
    </div>

</div>