<div style="margin-top: 10px;" ng-init="showUserAddress = true" class="col-lg-8 white-bg">
	<div class="ibox float-e-margins">
		<div class="ibox-content">
			<form role="form" class="form-horizontal" name="createUserForm" novalidate angular-validator>

				<div class="form-group">
					<div class="col-xs-6">
						<div class="input-group">
							<span class="input-group-addon"><span
								class="glyphicon glyphicon-user"></span></span> <input type="text"
								name="firstName"
								class="form-control" placeholder="First Name"
								validate-on="dirty"
								ng-model="userCreate.user.firstName"
								required-message="'first Name is required'" required>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="input-group">
							<span class="input-group-addon"><span
								class="glyphicon glyphicon-user"></span></span> <input type="text"
								name="lastName"
								class="form-control" placeholder="Last Name"
								ng-model="userCreate.user.lastName"
								required-message="'last Name is required'" required
								validate-on="dirty">
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-xs-6">
						<div class="input-group">
							<span class="input-group-addon"><span
								class="glyphicon glyphicon-envelope"></span></span> <input type="email"
								name="email"
								class="form-control" placeholder="Email"
								ng-model="userCreate.user.email"
								validate-on="dirty"
								ng-pattern = "/^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/"
								invalid-message="'email must be like : controlpoint@itkamer.com'"
								required-message="'email is required'" required>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="input-group">
							<span class="input-group-addon"><span
								class="glyphicon glyphicon-phone"></span></span> <input type="text"
								name="mobilePhone"
								class="form-control" placeholder="Mobile Phone"
								validate-on="dirty"
								ng-pattern="/^[0-9]+$/"
								ng-model="userCreate.user.mobilePhone"
								invalid-message="'Please just enter number'"
								required-message="'Mobile Phone is required'" required>
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-xs-6">
						<div class="input-group">
							<span class="input-group-addon"><span
								class="glyphicon glyphicon-phone-alt"></span></span> <input type="text"
								name="homePhone"
								class="form-control" placeholder="Home Phone"
								ng-pattern="/^[0-9]+$/"
								ng-model="userCreate.user.homePhone"
								invalid-message="'Please just enter number'"
								required-message="'home phone is required'" required
								validate-on="dirty">
						</div>
					</div>
					<div class="col-xs-6">
						<div class="input-group">
							<span class="input-group-addon"><span class="fa fa-phone"></span></span>
							<input type="text" class="form-control" placeholder="Land Phone"
								name="landPhone"
								ng-pattern="/^[0-9]+$/"
								ng-model="userCreate.user.landPhone"
								invalid-message="'Please just enter number'"
								required-message="'land phone is required'" required
								validate-on="dirty">
						</div>
					</div>
				</div>

				<div ng-if="!userCreate.isEdit" class="form-group">
					<div class="col-xs-6">
						<div class="input-group">
							<span class="input-group-addon"><span class="fa fa-key"></span></span>
							<input type="password" class="form-control"
								name="password"
								validate-on="dirty"	
								validator="userCreate.passwordValidator(userCreate.user.password) === true"
								placeholder="password" ng-model="userCreate.user.password"
								invalid-message = "userCreate.passwordValidator(userCreate.user.password)"
								required>
						</div>
					</div>
					<div  class="col-xs-6">
						<div class="input-group">
							<span class="input-group-addon"><span class="fa fa-key"></span></span>
							<input type="password" class="form-control"
								placeholder="Confirm Password"
								name="confPassword"
								validate-on="dirty"
								validator = "userCreate.confPassword === userCreate.user.password"
								invalid-message="'Passwords do not match!'"
								required-message="'confirme the password is required'"
								ng-model="userCreate.confPassword" required>
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-xs-12">
						<div style="text-align: center;">
							<div ng-repeat="g in userCreate.genders" class="col-xs-4">
								<input class="pull-left" type="radio"
									ng-model="userCreate.user.gender" value="{{g.value}}">
								<label>{{g.label}}</label> <br />
							</div>
						</div>
					</div>
				</div>
				
				<hr />
				
				<div class="form-group">
					<label class="col-lg-6 pull-left"> Address informations :  </label>
					
					 <span class="col-lg-6 pull-right">
                                    <a ng-show="!showUserAddress" ng-click="showUserAddress = true"  href="#" class="text-success"> create User address </a>
                                    <a ng-show="showUserAddress" ng-click="showUserAddress = false"  href="#" class="text-warning"> select User address </a>
                     </span>
                         
				</div>
				
				
				<div class="form-group" ng-show="!showUserAddress"><label class="col-lg-2 control-label">Category </label>

                    <div class="col-lg-10">
                        <select class="form-control"
                                ng-model="userCreate.user.address"
                                ng-options="a as a.region + ' ' + a.city + ' ' + a.street + ' ' + a.zipCode group by a.country for a in userCreate.addresses">
                            <option value=""> select address ... </option>
                        </select>
                    </div>
<!--                     <div class="col-lg-5"><button ng-click="userCreate.addAddressToUser();" class="form-control btn btn-sm btn-primary block"> <i class="fa fa-plus"></i> Add new category</button></div> -->
                </div>
                
                
				<div class="form-group" ng-show="showUserAddress">
					<div class="col-xs-6">
							<input type="text"
								name="street"
								class="form-control" placeholder="Street"
								ng-model="userCreate.user.address.street">
					</div>
					<div class="col-xs-6">
							<input type="text"
								name="region"
								class="form-control" placeholder="Region"
								ng-model="userCreate.user.address.region">
					</div>
				</div>
				
				<div class="form-group" ng-show="showUserAddress">
					<div class="col-xs-6">
							<input type="text"
								name="city"
								class="form-control" placeholder="City"
								ng-model="userCreate.user.address.city">
					</div>
					<div class="col-xs-6">
							<input type="text"
								name="zipCode"
								class="form-control" placeholder="Zip Code"
								ng-model="userCreate.user.address.zipCode">
					</div>
				</div>
				
				<div class="form-group" ng-show="showUserAddress">
					<div class="col-xs-6">
							<input type="text"
								name="country"
								class="form-control" placeholder="Country"
								ng-model="userCreate.user.address.country">
					</div>
				</div>


		<div class="form-group">
			<div class="col-xs-6">
				<div style="text-align: center;">
					 <button ng-click="userCreate.save();"
						class="btn btn-sm btn-primary" ng-disabled="createUserForm.$invalid"> <i class="fa fa-save"></i> Save</button>
				</div>
			</div>
			<div class="col-xs-6">
				<div style="text-align: center;">
                    <a  ui-sref="usersList"
						class="btn btn-sm btn-danger"> <i class="fa fa-circle"></i>  Cancel</a>
				</div>
			</div>
		</div>

		</form>
	</div>
</div>
</div>
