<div style="margin-top: 10px;" class="col-lg-8 white-bg" >
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <form class="form-horizontal" form-for="userDetail.user"  validation-rules="userDetail.vRules" submit-with="userDetail.save()">
	            <div class="col-lg-12"> 	
	            	<div class="col-lg-6">
	         		    <text-field attribute="firstName" label="First Name" icon-before="fa fa-user"></text-field>
	            	 	<text-field attribute="lastName" label="Last Name" icon-before="fa fa-user"></text-field>
	           	    </div>
	           	    <div class="col-lg-5 pull-right">
	           	    	<radio-field attribute="gender" label="Gender" options="userDetail.genders"></radio-field>
	           	    </div>
	           	</div>
           	    
           	    <div class="col-lg-12"> 
           	    		
	           	    	<div class="col-lg-5">  
		           	     <text-field attribute="email" label="Email" icon-before="fa fa-envelope" type="email"></text-field>
		           	    </div> 
           	         	<div class="col-lg-5 col-lg-offset-1">  
		                 	<text-field attribute="mobilePhone" label="Mobile Phone" icon-before="glyphicon glyphicon-phone"></text-field>	
	                 	</div>
            			<div class="col-lg-5">      
		                	 <text-field attribute="homePhone" label="Home Phone" icon-before="glyphicon glyphicon-phone-alt"></text-field>	
		             	</div>  
                   	    
	           	      	<div class="col-lg-5 col-lg-offset-1">  
		                 	<text-field attribute="landPhone" label="Land Phone" icon-before="fa fa-phone"></text-field>	
		              	</div> 
		         </div>
           	   
                <div class="col-lg-12">
                 <select-field attribute="roleNames" label="User's Roles" options="userDetail.roles" ></select-field>
                </div>
                
                <div class="col-lg-12" ng-show="userDetail.canCreatePassword">
                	  <text-field label="New Password" attribute="password" icon-before="fa fa-key" type="password" ></text-field>	
                	  <text-field label="Confirm Password" attribute="confPassword" icon-after="fa fa-key" type="password" ></text-field>		
                </div>
<hr>
                <div class="col-lg-12">
                        <submit-button   label="Save" icon="glyphicon glyphicon-floppy-disk" button-class="btn btn-sm btn-primary" ng-click="userDetail.save();"></submit-button>
                    	<submit-button  label="Back to List" button-class="btn btn-sm btn-danger" ng-click="userDetail.backToList();" icon="fa fa-backward"></submit-button>
     
                </div>
            </form>
        </div>
    </div>
</div>
</div>