<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="input-group"  ng-init="query=''">
                                <input type="text" ng-model="query" placeholder="Search by User name" class="input-sm form-control col-sm-5"> <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-warning"><i class="fa fa-search"></i> Search</button> </span>
                            </div>
                        </div>
                        <div class="col-sm-3 m-b-xs">
                            <a ui-sref="userCreate" class="btn btn-sm btn-primary"> <i class="fa fa-plus"></i> Add New User</a>
                        </div>
                        <div class="col-sm-4 m-b-xs">

                        </div>

                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Name </th>
                                <th>Gender </th>
                                <th>Email</th>
                                <th>Mobile Phone </th>
                                <th>Land Phone </th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="user in usersList.users | orderBy: 'firstName' | filter: {firstName: query}">
                                <td>{{$index + 1}}</td>
                                <td>{{user.firstName}}  {{user.lastName}}</td>
                                <td>{{user.gender}}</td>
                                <td>{{user.email}}</td>
                                <td>{{user.mobilePhone}}</td>
                                <td>{{user.landPhone}}</td>
                                <td>
                                    <a ng-click="usersList.editUser(user);"><i class="fa fa-edit text-navy fa-lg"></i></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
</div>
