<div class="wrapper wrapper-content">
      <div class="row animated fadeInRight">
          <div class="col-md-6">
              <div class="ibox float-e-margins">
                  <div class="ibox-title">
                      <h5><span style="color:#1AB394;font-weight:bold;margin-right:5px;">{{userProfile.user.firstName + "  " +userProfile.user.lastName}}</span><span style="">{{userProfile.user.roleNames}}</span></h5>
                  </div>
                  <div>
                      <div class="ibox-content no-padding border-left-right">
                          <img popover="click to Update your Avatar" alt="image" class="img-responsive" src="assets/img/profile_big.jpg">
                      </div>
                      <div class="ibox-content profile-content">
                          <h4>
                          	<strong>
                          		  <a href="#" style="margin-right:5px;" popover="Click To edit your First Name" popover-trigger="hover" popover-container="body" editable-text="userProfile.user.firstName" e-name="firstName"  e-required onbeforesave="userProfile.updateField($data, 'firstName')">{{ userProfile.user.firstName || 'First Name'}}</a>
                         		      <a href="#" popover="Click To edit your Last Name" popover-trigger="hover" popover-container="body" editable-text="userProfile.user.lastName" e-name="lastName"  e-required onbeforesave="userProfile.updateField($data, 'lastName')">{{ userProfile.user.lastName || 'Last Name'}}</a>
                         		      ( <a href="#" href="#" popover="Click To edit your Gender" popover-trigger="hover" popover-container="body" editable-radiolist="userProfile.user.gender" e-ng-options="s.value as s.label for s in userProfile.genders"  onbeforesave="userProfile.updateField($data, 'gender')">{{ userProfile.showGender() }}</a>
						  )
                 	</strong>
                 			<p>
                 				<i class="fa fa-map-marker fa-lg"></i>
                 				 <a href="#" style="margin-right:5px;" popover="Click To update yours street" popover-trigger="hover" popover-container="body" editable-text="userProfile.user.street" e-name="firstName"  e-required onbeforesave="userProfile.updateField($data, 'street')">{{ userProfile.user.street || 'Your Street'}}</a>
                 			</p>
                          </h4>
                          
                          <div class="row m-t-lg">
                              <div class="col-md-12">
                                    <h4>
                                  	  <span class="glyphicon glyphicon-envelope fa-lg font-bold" title="My Email Address"></span>
                                      <strong><a href="#"  popover="Click To update your Email" popover-trigger="hover" popover-container="body" editable-email="userProfile.user.email" e-name="email"  e-required  onbeforesave="userProfile.updateField($data, 'email')">{{ userProfile.user.email}}</a></strong>
                               		</h4>
                              </div>
                              <div class="col-md-12">
                                  <h4>
                                  	<strong>
                                  		<span class="glyphicon glyphicon-phone fa-lg font-bold" title="My Mobile Phone"></span>
                                  
                                  		   <a href="#" popover="Click To update your Mobile Phone number" popover-trigger="hover" popover-container="body" editable-text="userProfile.user.mobilePhone" e-name="mobilePhone"  e-required  onbeforesave="userProfile.updateField($data, 'mobilePhone')">{{ userProfile.user.mobilePhone || 'My Mobile phone'}}</a>
                         			</strong>
                                  </h4>
                              </div>
                              <div class="col-md-12">
                                  <h4>
                                  	<strong>
                                  		 <span class="glyphicon glyphicon-phone-alt fa-lg font-bold" title="My Home Phone number"></span>
                                  		  <a href="#" popover="Click To update your Home Phone number" popover-trigger="hover" popover-container="body" editable-text="userProfile.user.homePhone" e-name="homePhone"  onbeforesave="userProfile.updateField($data, 'homePhone')">{{ userProfile.user.homePhone || 'My Home phone'}}</a>
                         			</strong>
                                  </h4>
                              </div>
                              <div class="col-md-12">
                                  <h4>
                                 	<span class="glyphicon glyphicon-earphone fa-lg font-bold" title="My Land Phone Number"></span>
                                  	<strong>
                                  		  <a href="#" popover="Click To update your Land Phone number" popover-trigger="hover" popover-container="body" editable-text="userProfile.user.landPhone" e-name="landPhone"  onbeforesave="userProfile.updateField($data, 'landPhone')">{{ userProfile.user.landPhone || 'My Land Phone'}}</a>
                         			</strong>
                                  </h4>
                              </div>
                          </div>
                          <div class="user-button">
                              <div class="row">
                              	  <div class="col-md-10 col-md-offset-1 mt1">
                                      <button type="button" class="btn btn-primary btn-sm btn-block" ng-click="userProfile.showOldPForm ()" ng-show="userProfile.showUpdateP">
                                      		<i class="fa fa-key fa-lg mr1"></i> 
                                      		Update Your Password
                         	          </button>
                                  </div>
                                  <div class="col-md-10 col-md-offset-1 mt1" ng-show="userProfile.showOldP">
                                  	  <button type="button" class="btn btn-success btn-sm btn-block" ng-click="oldPasswordForm.$show()">
                                      		<i class="fa fa-key fa-lg ml1">Old Password :  </i>
                                      		<a href="#" style="color:white;" e-type="password" popover="Please Enter Your old Password" popover-trigger="hover" popover-container="body" editable-text="userProfile.checkedOldPassword" e-form="oldPasswordForm" onaftersave="userProfile.checkOldPass()" e-required oncancel="userProfile.showUpdatePForm()"></a>
                         	          </button>
                       	          </div>
                       	          <div class="col-md-10 col-md-offset-1 mt1" ng-show="userProfile.showNewP">
                                      <button type="button" class="btn btn-warning btn-sm btn-block" ng-click="newPasswordForm.$show()">
                                      		<i class="fa fa-key mr1 fa-lg">New Password</i>
                                      		<a href="#" style="color:white;" e-type="password" popover="Please Enter Your New Password" popover-trigger="hover" popover-container="body" editable-text="userProfile.newPassword"  e-form="newPasswordForm" e-required onaftersave="confPasswordForm.$show()" oncancel="userProfile.showUpdatePForm()"></a>
                         	          </button>
                       	          </div>
                      	          <div class="col-md-10 col-md-offset-1 mt1" ng-show="userProfile.showNewP">
                         	          <button type="button" class="btn btn-success btn-sm btn-block" ng-click="confPasswordForm.$show()">
                                      		<i class="fa fa-key mr1 fa-lg">Confirm Password</i>
                                      		<a href="#" style="color:white;" e-type="password" popover="Please confirm Your Password" popover-trigger="hover" popover-container="body" editable-text="userProfile.confPassword" e-form = "confPasswordForm" e-required oncancel="userProfile.showUpdatePForm()"></a>
                         	          </button>
                                  </div>
                              </div>
                          </div>
                      </div>
              </div>
          </div>
              </div>
      </div>
  </div>
