<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">

                    <div class="m-t-sm">

                        <div class="row">
                            <div class="col-md-6">
                                <form class="form-horizontal">

                                    <div class="form-group"><label class="col-lg-3 control-label"> Property Name </label>

                                        <div class="col-lg-9"><input ng-model="propertyCreateCtrl.data.property.name" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group"><label class="col-lg-3 control-label"> Country </label>

                                        <div class="col-lg-9"><input ng-model="propertyCreateCtrl.data.property.country" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group"><label class="col-lg-3 control-label"> City </label>

                                        <div class="col-lg-9"><input ng-model="propertyCreateCtrl.data.property.city" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group"><label class="col-lg-3 control-label"> Street </label>

                                        <div class="col-lg-9"><input ng-model="propertyCreateCtrl.data.property.street" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group"><label class="col-lg-3 control-label"> zip Code </label>

                                        <div class="col-lg-9"><input ng-model="propertyCreateCtrl.data.property.zipCode" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group"><label class="col-lg-3 control-label"> Property Type </label>

                                        <div class="col-lg-9">
                                            <select class="form-control"
                                                    ng-model="propertyCreateCtrl.data.property.propertyType"
                                                    ng-options="t  for t in propertyCreateCtrl.propertyTypes">
                                            </select>
                                        </div>
                                    </div>


                                </form>
                            </div>
                            <div class="col-md-6">
                                <ul class="stat-list">

                                    <li>

                            <div style="margin-bottom: 2px;"  class="row">
                                <div class="col-xs-6"><input type="text" class="input-sm form-control " placeholder="User Name"></div>
                                <div class="col-xs-6">
                                    <select class=" input-sm form-control"
                                            ng-model="propertyCreateCtrl.role"
                                            ng-options="r for r in propertyCreateCtrl.rolenames">
                                    </select>
                                </div>
                            </div>
                                        <table >
                                            <thead>
                                              <tr>
                                                  <th>Name </th>
                                                  <th>Contacts </th>
                                                  <th>Addresse </th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                             <tr>
                                                 <td>
                                                     Sorepco cameroon Ltd
                                                 </td>
                                                 <td>
                                                     <i class="fa fa-phone"> 7879797979797</i>
                                                 </td>
                                                 <td>
                                                     rue des ecoles
                                                 </td>
                                                 <td>
                                                     <a class="text-danger"> <i class="fa fa-1x fa-remove"></i></a>
                                                 </td>
                                             </tr>
                                             <tr>
                                                 <td>
                                                     Sorepco cameroon Ltd
                                                 </td>
                                                 <td>
                                                     <i class="fa fa-phone"> 7879797979797</i>
                                                 </td>
                                                 <td>
                                                     rue des ecoles
                                                 </td>
                                                 <td>
                                                     <a class="text-danger"> <i class="fa fa-1x fa-remove"></i></a>
                                                 </td>
                                             </tr>
                                            </tbody>
                                        </table>

                                    </li>
                                    <li>
                                        <div style="margin-bottom: 2px;"  class="row">
                                            <div class="col-xs-8">
                                                <select ng-change="propertyCreateCtrl.handleTrusteeChange()" class="form-control"
                                                        ng-model="propertyCreateCtrl.selectedTrustee"
                                                        ng-options="t as t.name for t in propertyCreateCtrl.trustees">
                                                </select>
                                            </div>
                                            <div class="col-xs-4">
                                                <h4 class="text-success"> Property Trustees</h4>
                                            </div>
                                        </div>
                                        <table >
                                            <thead>
                                            <tr>
                                                <th>Name </th>
                                                <th>Contacts </th>
                                                <th>Email </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="t in propertyCreateCtrl.data.trustees">
                                                <td>
                                                    <i class="fa fa-user text-primary"></i> {{t.name}}
                                                </td>
                                                <td>
                                                    <i class="fa fa-phone text-success"></i>  {{t.landPhone}} {{t.homePhone}}
                                                </td>
                                                <td>
                                                    <i class="fa fa-envelope text-info"> </i> {{t.email}}
                                                </td>
                                                <td>
                                                    <a class="text-danger" ng-click="propertyCreateCtrl.removeTrustee($index)"> <i class="fa fa-1x fa-remove"></i></a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>

                                    </li>


                                </ul>
                            </div>

                        </div>
                        <hr>
                        <div class="row text-center">
                        <button ng-click="propertyCreateCtrl.save()" class="btn btn-primary"><i class="fa fa-save"></i> Save</button>
                         <button ng-click="propertyCreateCtrl.saveAndQuit()" class="btn btn-info"><i class="fa fa-save"></i> Save And Quit</button>
                            <a ui-sref="propertyPortefolio" class="btn btn-warning"><i class="fa fa-circle-o"></i> Cancel</a>
                            <button ng-click="propertyCreateCtrl.openVendorTrusteeModal()" class="btn btn-success"><i class="fa fa-support"></i> Add Vendor/Trustee</button>
                            <button class="btn btn-success"><i class="fa fa-user"></i> Add Users</button>
                        </div>

                    </div>



                </div>
            </div>

        </div>


    </div>
</div>
</div>
</div>