<div class="wrapper wrapper-content animated fadeInRightBig">
<div class="row">
    <div class="col-lg-5">
        <h1 class="text-warning font-bold">- Property Overview</h1>
    </div>
    <div class="col-lg-7">
        <div class="row">
            <div class="col-lg-8">
                <h1 class="text-primary font-bold text-uppercase">{{propertyCtrl.portefolio.instance.company}}</h1>
            </div>

            <div class="col-lg-4 pull-right">
                <ul class="unstyled">
                    <li>{{propertyCtrl.portefolio.instance.address.street}}</li>
                    <li>{{propertyCtrl.portefolio.instance.address.city}}</li>
                    <li>{{propertyCtrl.portefolio.instance.address.region}}</li>
                    <li>{{propertyCtrl.portefolio.instance.address.country}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div ng-show="propertyCtrl.dashboard" class="ibox-content">
    <div class="row">
        <div class="col-lg-6 vdivide">
            <div class="row">
                <div class="col-lg-6">
                    <div class="widget style1 gray-bg text-center">
                        <h3> Number of properties </h3>
                        <h1 class="font-bold font-bold-custom text-info">{{propertyCtrl.portefolio.propertyNb}}</h1>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div style="padding-bottom: 77px;" class="widget style1 gray-bg text-center">
                        <h1 class="m-xs">$ 0</h1>
                      <h3 class="font-bold no-margins">Profit/Loss</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="widget lazur-bg no-padding">
                        <div class="p-m">
                            <h1 class="m-xs">RO {{propertyCtrl.portefolio.incommes}}</h1>
                            <h3 class="font-bold no-margins"><span class="text-muted">Income</span></h3>
                        </div>
                        <div class="flot-chart">
                            <div class="flot-chart-content" id="flot-chart2"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="widget lazur-bg no-padding">
                        <div class="p-m">
                            <h1 class="m-xs">RO {{propertyCtrl.portefolio.expenses}}</h1>
                            <h3 class="font-bold no-margins"><span class="text-muted">Expenses</span></h3>
                        </div>
                        <div class="flot-chart">
                            <div class="flot-chart-content" id="flot-chart1"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                    <div class=" h-200">
                        <span id="sparkline8"></span>
                        <div class="col-lg-5"><h5>Monthly Profit / Loss</h5></div>
                            <div class="ibox-content">
                                <div>
                                    <canvas barchart options="propertyCtrl.barOptions" data="propertyCtrl.barData" height="100" responsive=true ></canvas>
                                </div>
                            </div>
                    </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="row">
                    <div class="col-lg-5"><h5>Task Status: History</h5></div>
                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-xs btn-white">Monthly</button>
                            <button type="button" class="btn btn-xs btn-white">Annual</button>
                            <button ng-click="propertyCtrl.dashboard = false" type="button" class="btn btn-xs btn-warning">Property List</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div>
                            <canvas linechart options="propertyCtrl.lineOptions" data="propertyCtrl.lineDataDashboard4" height="100" responsive=true ></canvas>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <ul class="stat-list">
                            <li>
                                <small>Closed Tasks</small>
                                <div class="stat-percent"> {{propertyCtrl.portefolio.closedTask}}</div>
                                <div class="progress progress-mini">
                                    <div style="width:{{propertyCtrl.portefolio.closedTask}}%;" class="progress-bar progress-bar-success"></div>
                                </div>
                            </li>
                            <li>
                                <small>Open Tasks</small>
                                <div class="stat-percent">{{propertyCtrl.portefolio.openedTasks}}</div>
                                <div class="progress progress-mini">
                                    <div style="width: {{propertyCtrl.portefolio.openedTasks}}%;" class="progress-bar"></div>
                                </div>
                            </li>
                            <li>
                                <small>Critical Tasks</small>
                                <div class="stat-percent">{{propertyCtrl.portefolio.criticalTasks}}</div>
                                <div class="progress progress-mini">
                                    <div style="width: {{propertyCtrl.portefolio.criticalTasks}}%;" class="progress-bar progress-bar-warning"></div>
                                </div>
                            </li>
                            <li>
                                <small>Overdue Tasks</small>
                                <div class="stat-percent">{{propertyCtrl.portefolio.overdueTasks}}</div>
                                <div class="progress progress-mini">
                                    <div style="width:{{propertyCtrl.portefolio.overdueTasks}}%;" class="progress-bar progress-bar-danger"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <ul class="list-group clear-list m-t">
                            <li class="list-group-item fist-item">
                                            <span class="pull-right label label-success">
                                                {{propertyCtrl.portefolio.higestScoringProperty}}
                                            </span>
                                <span><i class="fa fa-square text-success"></i></span> Highest Scoring Property
                            </li>
                            <li class="list-group-item">
                                            <span class="pull-right label label-white">
                                                {{propertyCtrl.portefolio.lowestScoringProperty}}
                                            </span>
                                <span><i class="fa fa-square text-primary"></i></span> Lowest Scoring Property
                            </li>
                            <li class="list-group-item">
                                            <span class="pull-right label label-info">
                                                {{propertyCtrl.portefolio.higestScoringCaretaker}}
                                            </span>
                                <span><i class="fa fa-square text-info"></i></span> Highest Scoring Caretaker
                            </li>
                            <li class="list-group-item">
                                            <span class="pull-right label label-warning">
                                                {{propertyCtrl.portefolio.lowestScoringCaretaker}}
                                            </span>
                                <span><i class="fa fa-square text-warning"></i></span> Lowest Scoring Caretaker
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <h5 class="text-center"> Overall Score </h5>

                        <div style="padding-left: 10%;" class="m-r-md inline disabled text-center">
                            <knob knob-data="{{propertyCtrl.portefolio.oweralScore}}" class="m-r-sm" data-fgColor="red" data-width="80" data-height="80" knob-options=""></knob>
                        </div>
                        <div class="text-center">
                            <h1 class="badge badge-danger block text-center" > RISK <i class="fa fa-angle-down"></i></h1>
                        </div>

                    </div>
                </div>
                <div class="row" >
                    <ul class="unstyled">
                        <li>
                                        <span class="label label-info label-width">
                                            <span class="pull-left">Ave Monthly Income</span>
                                            <span class="pull-right"> RO {{propertyCtrl.portefolio.aveMontlyIncome}}</span>
                                        </span>
                        </li>
                        <hr>
                        <li>
                                        <span class="label label-danger label-width">
                                            <span class="pull-left">Ave Monthly Expenses</span>
                                            <span class="pull-right"> RO {{propertyCtrl.portefolio.aveMontlyExpence}}</span>
                                        </span>
                        </li>
                        <hr>
                        <li>
                                        <span class="label label-white label-width">
                                            <span class="pull-left">Most Valuable Property</span>
                                            <span class="pull-right">{{propertyCtrl.portefolio.mostValuableProperty}}</span>
                                        </span>
                        </li>
                        <hr>
                        <li>
                                        <span class="label label-success label-width">
                                            <span class="pull-left">Least Valuable Property</span>
                                            <span class="pull-right">{{propertyCtrl.portefolio.leastValuableProperty}}</span>
                                        </span>
                        </li>
                        <hr>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>
<p style="margin-top: 10px;"><!-- --></p>
<div ng-show="!propertyCtrl.dashboard" class="ibox ">
    <div class="ibox-content">
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" ng-model="p.property.name" placeholder="Property name..." class="form-control">
                                      <span class="input-group-btn">
                                         <button type="button" class="btn btn-warning"><i class="fa fa-search"></i>Search</button>
                                      </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="btn-group" role="group" aria-label="...">
                    <button data-toggle="modal" data-target="#propertyModal" type="button" class="btn btn-primary"><i class="fa fa-plus"></i> Add New Property</button>
                    <!--<button type="button" class="btn btn-info"><i class="fa fa-edit"></i> Edit</button>-->
                    <!--<button type="button" class="btn btn-danger"><i class="fa fa-remove"></i> Delete</button>-->
                </div>
            </div>
            <div class="col-lg-5">
                    <button type="button" ng-click="propertyCtrl.dashboard = true" class="btn btn-xs btn-warning pull-right">Dashboard</button>
            </div>

        </div>
        <div  style="overflow: auto ; height: 450px;" class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>

                    <th>#</th>
                    <th>Property Name </th>
                    <th>Caretaker </th>
                    <th>Incomme / Expense </th>
                    <th>Hystorical status </th>
                    <th>Tasks Status</th>
                    <th>Score</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat=" p in  propertyCtrl.portefolio.propertyDatas| filter:p.property.name">
                    <td>{{$index+1}}</td>
                    <td>
                        <ul class="stat-list">
                            <li>
                                {{p.property.name}}
                            </li>
                            <li>
                                <i class="fa fa-home text-success"> {{p.property.numberOfUnits}} Units</i>
                            </li>

                        </ul>
                    </td>
                    <td>

                        <ul ng-repeat=" user in  p.users" class="stat-list">
                            <li ng-if="user.role == 'CARETAKER'">
                                <i class="fa fa-user text-warning text-success"> </i> {{user.login.firstName}} {{user.login.lastName}}
                            </li>
                            <li ng-if="user.role == 'CARETAKER'">
                                <i class="fa fa-phone text-danger"> </i> {{user.login.mobilePhone}}
                            </li>
                        </ul>
                    </td>
                    <td>
                        <ul class="stat-list">
                            <li>
                                <i class="fa fa-money label-primary"></i> + RO  {{p.incommes}}
                            </li>
                            <li>
                                <i class="fa fa-money label-danger"></i> - RO  {{p.expenses}}

                            </li>

                        </ul>
                    </td>
                    <td>
                        <div class="ibox-content">
                            <div>
                                <canvas barchart options="propertyCtrl.barOptions"  data="propertyCtrl.barData" width="225" height="100" responsive=true ></canvas>
                            </div>
                        </div>
                    </td>
                    <td>
                        <ul class="stat-list">
                            <li>
                                <label class="badge badge-primary"> Opened   :  {{p.openedTask}}</label>
                                <label style="margin-left: 3px;" class="badge badge-white"> Closed   : {{p.closedTask}} </label>
                            </li>

                            <li>
                                <label class="badge badge-warning"> imminant : {{p.criticalTask}}</label>
                                <label style="margin-left: 3px;" class="badge badge-danger"> Overdue  : {{p.overdueTask}} </label>
                            </li>

                        </ul>
                    </td>
                    <td>
                        <div  class="m-r-md inline disabled">
                            <knob knob-data="{{p.overalScore}}" class="m-r-sm" data-fgColor="#1AB394" data-width="80" data-height="80" knob-options=""></knob>
                        </div>
                    </td>
                    <td>
                        <ul class="stat-list">
                            <li>
                                <a class="block text-center label label-success " href="#"><i class="fa fa-tasks pull-left"></i> Quick Repport</a>
                            </li>
                            <li>
                                <a href="#" class="block text-center label label-success " ><i class="fa fa-tasks pull-left"></i> Full Repport</a>
                            </li>
                            <li>
                                <a href="#" ng-really-message="Are you sure ? " ng-really-click="propertyCtrl.removeProperty(p.property);" class="block text-center label label-danger " ><i class="fa fa-remove pull-left"></i> Delete Property</a>
                            </li>
                            <li>
                                <a href="#" class="block text-center label label-warning " ><i class="fa fa-edit pull-left"></i> Edit Property</a>
                            </li>
                             <li>
                                <a ui-sref="propertyShow" class="block text-center label label-primary " ><i class="fa fa-eye pull-left"></i> Show Property</a>
                            </li>
                        </ul>
                    </td>
                </tr>



                </tbody>
            </table>
        </div>

    </div>
</div>


</div>
<div ng-include="'scripts/app/properties/property.create.html'"></div>
