<div id="propertyTypeModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" ng-controller="PropertyTypeModalCtrl as propTypeMdl">
        <div class="modal-content">
            <div class="modal-body">
                    <div class="row">
                        <div class="ibox">
                            <div class="ibox-title">
                                <h2 class="text-warning">Property Type</h2>
                            </div>
                            <div class="hr-line-solid"><!-- --></div>
                            <div class="ibox-content">
                                <div class="row">
                                        <form class="form-horizontal">
                                            <div class="form-group">
                                                <label class="col-lg-3 control-label"><span class="text-danger">*</span> Name</label>
                                                <div class="col-lg-9">
                                                    <input ng-model="propTypeMdl.propType.name" type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-3 control-label">Description</label>
                                                <div class="col-lg-9">
                                                    <textarea ng-model="propTypeMdl.propType.description"   class="form-control "></textarea>
                                                </div>
                                            </div>
                                        </form>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="hr-line-solid"><!-- --></div>
            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-lg-offset-3 col-lg-9">
                        <button ng-click="propTypeMdl.save();" class="btn btn-success" type="button">
                            <i class="fa fa-save"></i>
                            <span>Save</span>
                        </button>
                        <button class="btn btn-warning " data-dismiss="modal"  type="button"> <i class="fa fa-circle-o"></i> Exit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>