 <div class="wrapper wrapper-content">
            <div class="row">
                 <div class="col-lg-6">
                     <div class="row">
                         <div class="col-lg-9">
                            <h1 class="text-warning font-bold">Parkwood Manor - Overview</h1>
                         </div>
                         <div class="col-lg-3">
                           <div class="pull-left" style="margin-top: 30px;">  
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                 </span> <span class="text-muted text-xs block">Menu <b class="caret"></b></span> </span> 
                            </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a href="#">Overview</a></li>
                                <li><a href="#">Task and Notes</a></li>
                                <li><a href="#">Schedule</a></li>
                                <li><a href="#">Units</a></li>
                                <li><a href="#">Vendors</a></li>
                                <li><a href="#">Finance</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Readings</a></li>
                            </ul>
                          </div>
                          </div>
                      </div>
                 </div>
                 <div class="col-lg-6">
                     <div class="row">
                        <div class="col-lg-8">
                           <h1 class="text-primary font-bold">RBL Property Solutions</h1>
                        </div>
                        
                        <div class="col-lg-4 pull-right">
                            <ul class="unstyled">
                                 <li>4 Henri Street</li>
                                 <li>Braamfontein</li>
                                 <li>Johannesbourg</li>
                                 <li>South Africa</li>
                            </ul>
                        </div>
                     </div>
                 </div>
            </div>
            <div class="ibox-content">
            <div class="row">
                <div class="col-lg-6 vdivide">
                       <div class="row">
                          <div class="col-lg-6">
                            <div class="widget style1 gray-bg text-center">
                                <h3> Number of Units </h3>
                                <h1 class="font-bold font-bold-custom text-info">102</h1>
                             </div>
                          </div>
                          <div class="col-lg-6">
                                <div class="text-center h-200">
                                    <span id="sparkline-property-overview"></span>
                                    <h5 class="font-bold no-margins"><span class="text-muted">Monthly Profit / Loss</span></h5>
                                </div>
                          </div>
                       </div>
                       <div class="row">
                          <div>
                            <canvas id="lineChart" height="100"></canvas>
                          </div>
                       </div>
                       <div class="row">
                            <div class="col-lg-6">
                                  <h3> Avg Water Readings </h3>
                            </div>
                            <div class="col-lg-6">
                                <div class="pull-right">
                                 <button class="btn btn-w-m btn-success" type="button">12000 Litres</button>
                                </div>        
                            </div>
                       </div>
                       <hr>
                       <div class="row">
                            <div class="col-lg-6">
                                 <h3> Ave Electricity Readings </h3>
                            </div>
                            <div class="col-lg-6">
                                <div class="pull-right">
                                 <button class="btn btn-w-m btn-default" type="button">20000 KW's</button>
                            
                                </div>
                             </div>    
                       </div>
                </div>
                <div class="col-lg-6">
                       <div class="ibox float-e-margins">
                             <div class="row">
                                <div class="col-lg-6 col-lg-offset-2">
                                     <div class="widget style1 gray-bg text-center">
                                        <h3> Unallocated Requests </h3>
                                        <h1 class="font-bold font-bold-custom text-info">13</h1>
                                     </div>
                                </div>
                                <div class="col-lg-4">
                                    <ul class="stat-list">
                                        <li>
                                            <small>Closed Tasks</small>
                                            <div class="stat-percent">213</div>
                                            <div class="progress progress-mini">
                                                <div style="width: 40%;" class="progress-bar progress-bar-success"></div>
                                            </div>
                                        </li>
                                        <li>
                                            <small>Open Tasks</small>
                                            <div class="stat-percent">251</div>
                                            <div class="progress progress-mini">
                                                <div style="width: 60%;" class="progress-bar"></div>
                                            </div>
                                        </li>
                                        <li>
                                            <small>Critical Tasks</small>
                                            <div class="stat-percent">51</div>
                                            <div class="progress progress-mini">
                                                <div style="width: 25%;" class="progress-bar progress-bar-warning"></div>
                                            </div>
                                        </li>
                                        <li>
                                            <small>Overdue Tasks</small>
                                            <div class="stat-percent">221</div>
                                            <div class="progress progress-mini">
                                                <div style="width: 65%;" class="progress-bar progress-bar-danger"></div>
                                            </div>
                                        </li>
                                     </ul>
                                  </div>
                               </div>
                               <div class="row">
                                   <div class="col-lg-8">
                                    <h3> Service Schedule and Warranties </h3>
                                        <div class="row">
                                            <div class="col-lg-8">
                                                 <span>Number of Scheduled Events in the next 6 months</span> 
                                            </div>
                                            <div class="col-lg-4">
                                               <span class="pull-right">
                                                    <h1 class="font-bold text-info">3</h1>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="row">
                                            <div class="col-lg-8">
                                                 <span>Days to next Scheduled Event</span> 
                                            </div>
                                            <div class="col-lg-4">
                                               <span class="pull-right">
                                                    <h1 class="font-bold text-info">66</h1>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="row">
                                          <div class="col-lg-12">
                                           <div id="ionrange_1"></div>
                                          </div>      
                                        </div>
                                        <div class="row">
                                          <div class="col-lg-12">
                                           <div id="ionrange_2"></div>
                                          </div>      
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                          <h5 class="text-center">Overall Score</h5>
                                        <div class="text-center">  
                                          <div class="m-r-md inline">
                                                 <input type="text" value="40%" class="dial m-r-sm" data-fgColor="#ED5565" data-width="100" data-height="100" />
                                          </div>
                                          <h1 class="badge badge-custom badge-danger block text-center">
                                              RISK
                                          </h1>
                                        </div>    
                                    </div>
                               </div>
                         </div>
                </div>
            </div>
            </div>
            <div class="clearfix"></div>
            <p style="margin-top: 30px;"><!-- --></p>
            <hr>
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <h1 class="font-bold"> Calendar:</h1>
                     <div id="calendar"></div>
                </div>
            </div>
    </div>
    <script>
        $(document).ready(function() {
            
            /** Line Chart Scripts Data **/
              var lineData = {
                labels: ["0", "2", "4", "6", "8", "10", "12", "14", "16"],
                datasets: [
                    {
                        label: "Example dataset",
                        fillColor: "rgba(220,220,220,0.5)",
                        strokeColor: "rgba(220,220,220,1)",
                        pointColor: "rgba(220,220,220,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(220,220,220,1)",
                        data: [20, 20, 30, 20, 40, 20, 30, 25, 50, 30, 32, 20]
                    },
                    {
                        label: "Example dataset",
                        fillColor: "rgba(26,179,148,0.5)",
                        strokeColor: "rgba(26,179,148,0.7)",
                        pointColor: "rgba(26,179,148,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(26,179,148,1)",
                        data: [10, 15, 5, 5, 20, 5, 20, 10, 10, 5, 2, 20]
                    }
                ]
            };

            var lineOptions = {
                scaleShowGridLines: true,
                scaleGridLineColor: "rgba(0,0,0,.05)",
                scaleGridLineWidth: 1,
                bezierCurve: true,
                bezierCurveTension: 0.4,
                pointDot: true,
                pointDotRadius: 4,
                pointDotStrokeWidth: 1,
                pointHitDetectionRadius: 20,
                datasetStroke: true,
                datasetStrokeWidth: 2,
                datasetFill: true,
                responsive: true,
            };


            var ctx = document.getElementById("lineChart").getContext("2d");
            var myNewChart = new Chart(ctx).Line(lineData, lineOptions);
            
            
            
             /* initialize the calendar
         -----------------------------------------------------------------*/
        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();

        $('#calendar').fullCalendar({
            header: {
                left: '',
                center: '',
                right: ''
            },
            editable: true,
            droppable: true, // this allows things to be dropped onto the calendar
            drop: function() {
                // is the "remove after drop" checkbox checked?
                if ($('#drop-remove').is(':checked')) {
                    // if so, remove the element from the "Draggable Events" list
                    $(this).remove();
                }
            },
            events: [
                {
                    title: 'All Day Event',
                    start: new Date(y, m, 1)
                },
                {
                    title: 'Long Event',
                    start: new Date(y, m, d-5),
                    end: new Date(y, m, d-2),
                },
                {
                    id: 999,
                    title: 'Repeating Event',
                    start: new Date(y, m, d-3, 16, 0),
                    allDay: false,
                },
                {
                    id: 999,
                    title: 'Repeating Event',
                    start: new Date(y, m, d+4, 16, 0),
                    allDay: false
                },
                {
                    title: 'Meeting',
                    start: new Date(y, m, d, 10, 30),
                    allDay: false
                },
                {
                    title: 'Lunch',
                    start: new Date(y, m, d, 12, 0),
                    end: new Date(y, m, d, 14, 0),
                    allDay: false
                },
                {
                    title: 'Birthday Party',
                    start: new Date(y, m, d+1, 19, 0),
                    end: new Date(y, m, d+1, 22, 30),
                    allDay: false
                },
                {
                    title: 'Click for Google',
                    start: new Date(y, m, 28),
                    end: new Date(y, m, 29),
                    url: 'http://google.com/'
                }
            ],
        });

            
        });
        
                
        $("#ionrange_1").ionRangeSlider({
            min: 0,
            max: 5000,
            type: 'double',
            prefix: "$",
            maxPostfix: "+",
            prettify: false,
            hasGrid: true
        });
        $("#ionrange_2").ionRangeSlider({
            min: 0,
            max: 5000,
            type: 'double',
            prefix: "$",
            maxPostfix: "+",
            prettify: false,
            hasGrid: true
        });

        $(".dial").knob();
        
    </script>