<div id="propertyModal" class="modal fade modal-wide" tabindex="-1" role="dialog">
 <div class="modal-dialog">
     <div class="modal-content">
         <div class="modal-body">
<div ng-controller="PropertyModalCtrl as propMdl" class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <!--<span style="margin-right: 10px;" class="label badge-inverse">66%</span>-->
                <h2 class="text-warning">Manage Properties</h2>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-lg-6">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-lg-3 control-label"><span class="text-danger">*</span> Property Name</label>
                                <div class="col-lg-9">
                                    <input type="text"ng-model="propMdl.propertyData.property.name"  class="form-control ">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Property Type</label>
                                <div class="col-lg-6">
                                    <select class="form-control " name="account"
                                            ng-model="propMdl.propertyData.property.type"
                                            ng-options="value as value.name for value in propMdl.propertyTypes">
                                        <option>-- property Type --</option>
                                    </select>
                                </div>
                                    <div class="col-lg-3">
                                    <button data-toggle="modal" data-target="#propertyTypeModal"  type="button" class="btn-primary btn "> <i class="fa fa-plus" ></i> </button>
                                        <button ng-click="propMdl.editPropType()" type="button" class="btn-info btn "> <i class="fa fa-edit" ></i> </button>
                                        </div>

                            </div>
                            <div class="form-group">
                                <label class="col-lg-3  control-label">Size</label>
                                <div class="col-lg-3">
                                    <input type="number" min="0" ng-model="propMdl.propertyData.property.size" class="form-control">
                                </div>
                                <label class="col-lg-3 control-label">Number of Units </label>
                                <div class="col-lg-3">
                                    <input type="number" min="0" ng-model="propMdl.propertyData.property.numberOfUnits" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Street</label>
                                <div class="col-lg-9">
                                    <input type="text" ng-model="propMdl.propertyData.property.address.street" class="form-control ">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Area</label>
                                <div class="col-lg-9">
                                    <input type="text" ng-model="propMdl.propertyData.property.address.region" class="form-control ">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">City</label>
                                <div class="col-lg-9">
                                    <input type="text" ng-model="propMdl.propertyData.property.address.city" class="form-control ">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Code</label>
                                <div class="col-lg-9">
                                    <input type="text" ng-model="propMdl.propertyData.property.address.zipCode" class="form-control ">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Country</label>
                                <div class="col-lg-9">
                                    <input type="text" ng-model="propMdl.propertyData.property.address.country" class="form-control ">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label" >Description</label>
                                <div class="col-lg-9">
                                    <textarea rows="5" ng-model="propMdl.propertyData.property.description" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-offset-3 col-lg-9">
                                    <button class="btn  btn-danger" type="submit"><i class="fa fa-remove"></i> Delete Property</button>
                                    <button ng-click="propMdl.save()" class="btn btn-success" type="button">
                                        <i class="fa fa-save"></i>
                                        <span>Save</span>
                                    </button>
                                    <button class="btn btn-warning " data-dismiss="modal"  type="buttons"> <i class="fa fa-circle-o"></i> Exit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-6">
                        <div class="ibox float-e-margins">
                            <div class="row">
                                <h3 class="col-lg-2 text-warning">Contacts</h3>
                                <div class="ibox-tools">
                                    <button data-toggle="modal" data-target="#propertyUserModal" class="btn btn-success" type="button">
                                        <i class="fa fa-user"></i>
                                        <span>Add users</span>
                                    </button>
                                </div>
                            </div>
                            <div style="overflow: auto;height: 250px;" class="ibox-content">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Contact</th>
                                        <th>Position</th>
                                        <th>Role</th>
                                        <th>Invite ?</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="u in  propMdl.propertyData.users">
                                        <td><span class="label label-success">{{u.login.firstName}} {{u.login.lastName}}</span></td>
                                        <td><span class="line"> <i class="fa fa-phone"></i> {{u.login.mobilePhone}}<br> <i class="fa fa-envelope"></i> {{u.login.email}}</span></td>
                                        <td>{{u.role}}</td>
                                        <td>{{u.permission}}</td>
                                        <td><span class="label label-primary">{{u.invited}}</span></td>
                                        <td> <a href="#"> <span class="pull-right"><i class="fa fa-remove fa-1x label-danger"></i></span></a> </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <h3 class="col-lg-2 text-warning">Images </h3>
                                <div class="ibox-tools">
                                    <input class="btn" value="Add Image" type="file">
                                </div>
                            </div>
                            <hr>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
<div ng-include="'scripts/app/properties/property.type.html'"></div>
<div ng-include="'scripts/app/properties/property.user.html'"></div>