<div class="wrapper wrapper-content animated fadeInRight white-bg">
<div class="row">
<div class="col-lg-12">
	<div class="ibox float-e-margins">


		<div class="ibox-title">
			<h5>Protperties of Property with connected details</h5>
			<div class="ibox-tools">
				<a class="collapse-link"> <i class="fa fa-chevron-up"></i>
				</a> <a class="dropdown-toggle" data-toggle="dropdown" href="#"> <i
					class="fa fa-wrench"></i>
				</a>
				<ul class="dropdown-menu dropdown-user">
					<li><a href="#">Config option 1</a></li>
					<li><a href="#">Config option 2</a></li>
				</ul>
				<a class="close-link"> <i class="fa fa-times"></i>
				</a>
			</div>
		</div>

		<div class="ibox-content">

		<div class="row text-justify" style="height: 200px;">
			<div class="col-sm-6 text-uppercase text-center">
				<h3>{{PropertyDetailsCtrl.property.name}}</h3>
				{{PropertyDetailsCtrl.property.propertyType}}
			</div>
			<div class="col-sm-2  text-center">
				<div class="btn-info row" style="height: 100px; margin-bottom: 2px ridge #eee; border-right: 1px solid rgba(29, 27, 27, 0.6);">Owner</div>
				<div class="btn-primary row" style="height: 100px; border-right: 1px solid rgba(29, 27, 27, 0.6);">Tennant</div>
			</div>
			<div class="col-sm-2  text-center" style="border-right: 1px solid rgba(29, 27, 27, 0.6);">
				<div class="btn-info row" style="height: 100px;">Email</div>
				<div class="btn-primary row" style="height: 100px;">Email all</div>
			</div>
			<div class="col-sm-2  text-center" style="border-right: 1px solid rgba(29, 27, 27, 0.6);">
				<div class="btn-info row" style="height: 100px;">Sms</div>
				<div class="btn-primary row" style="height: 100px;">Sms all</div>
			</div>
		</div>

		<div class="row text-center" style="height: 270px;">
			<div class="col-lg-2">
				<h3>Total Units</h3>

                    <div class="widget navy-bg p-lg text-center">
                        <div class="m-b-md">
                            <i class="fa fa-building fa-4x"></i>
                            <h1 class="m-xs">{{PropertyDetailsCtrl.property.numberOfUnit}}</h1>
                            <h3 class="font-bold no-margins">
                                Units
                            </h3>
                            <small>on</small>
                        </div>
                    </div>

			</div>

			<div class="col-lg-2">
				<h3>Ticket</h3>

				<table class="table table-hover">
					<tbody>
                        <tr>
                            <td style="float: left;">
                                Open
                            </td>
                             <td>
                                <button type="button" class="btn btn-danger m-r-sm">12</button>
                            </td>
                        </tr>

                        <tr>
                            <td style="float: left;">
                                Imminent
                            </td>
                            <td>
                                <button type="button" class="btn btn-primary m-r-sm">28</button>
                            </td>
                        </tr>

                        <tr>
                            <td style="float: left;">
                                Critical
                            </td>
                            <td>
                                <button type="button" class="btn btn-info m-r-sm">15</button>
                            </td>
                        </tr>

                        <tr>
                            <td style="float: left;">
                                Closed
                            </td>
                            <td>
                                <button type="button" class="btn btn-info m-r-sm">15</button>
                            </td>
                        </tr>
                         </tbody>
                </table>

			</div>

			<div class="col-lg-3">
				<h3>Schedule</h3>

				<div>
					<div>
						<span>Disk</span> <small class="pull-right">10/200 GB</small>
					</div>
					<div class="progress progress-small">
						<div style="width: 60%;" class="progress-bar"></div>
					</div>
					<div>
						<span>Bandwidth</span> <small class="pull-right">20 GB</small>
					</div>
					<div class="progress progress-small">
						<div style="width: 50%;" class="progress-bar"></div>
					</div>
					<div>
						<span>Activity</span> <small class="pull-right">73%</small>
					</div>
					<div class="progress progress-small">
						<div style="width: 40%;" class="progress-bar"></div>
					</div>
					<div>
						<span>FTP</span> <small class="pull-right">400 GB</small>
					</div>
					<div class="progress progress-small">
						<div style="width: 20%;" class="progress-bar progress-bar-danger"></div>
					</div>
				</div>

			</div>
			<div class="col-lg-3">

				<h3>Area</h3>

				<div style="height: 270px;">
					<span class="bar">5,3,9,6,5,9,7,3,5,2</span>
				</div>

			</div>


			<div class="col-lg-2" id="detailScore">
				<h3>Score</h3>

				<div class="widget style1 yellow-bg">
                        <div class="row vertical-align">
                            <div class="col-xs-3">
                                <i class="fa fa-shield fa-3x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <h2 class="font-bold">610</h2>
                            </div>
                        </div>
                </div>

			</div>
		</div>

		<div class="row col-lg-12 col-xs-12 col-md-12 text-center up-margin col-equal" style="margin: -50px auto; padding: auto;">
					
					<div class="row-fluid col-equal">
					
						<div class="row row-center col-md-4 col-lg-4 col-equal">
							<div class="col-xs-12 col-sm-5 col-md-6  col-lg-6 widget style1 red-bg font-bold display-care row-left">
		                    	<h2>NEW</h2><i class="fa fa-plus fa-1x"></i>
		                    </div>
		                    
		                    <div class="col-xs-12 col-sm-5 col-md-6 col-lg-6 widget style1 red-bg font-bold display-care row-right">
		                    	<h3>Schedule</h3>
		                    </div>
		                  </div>  
	                    
	                    <div class="row row-center col-md-4 col-lg-4 col-equal">
		                    <div class="col-xs-12 col-sm-5 col-md-6 col-lg-6 widget style1 red-bg font-bold display-care row-left">
		                    	<h3>Contacts</h3>
		                    </div>
		                    <div class="col-xs-12 col-sm-5 col-md-6 col-lg-6 widget style1 red-bg font-bold display-care row-right">
		                    	<h3>Man Report</h3>
		                    </div>
		                </div>
		                
		                <div class="row row-center col-md-4 col-lg-4 col-equal">
		                    <div class="col-xs-12 col-sm-5 col-md-6 col-lg-6 widget style1 red-bg font-bold display-care row-left">
		                    	<h3>Meteo Reading</h3>
		                    </div>
		                    <div class="col-xs-12 col-sm-5 col-md-6 col-lg-6 widget style1 red-bg font-bold display-care row-right">
		                    	<h3>Date</h3>
		                    </div>
	                    </div>

	               </div>

        </div>

         <div class="row text-center show-grid col-equal">
			      <div class="col-md-2" style="border: 0px; background-color: #FFF !important;"></div>
			      <div class="col-md-1 col-md-offset-2" style="border-radius: 15px 0px 0px 0px;"></div>
			      <div class="col-md-1"></div>
			      <div class="col-md-1"></div>
			      <div class="col-md-1"></div>
			      <div class="col-md-1"></div>
			      <div class="col-md-1"></div>
			      <div class="col-md-1"></div>
			      <div class="col-md-1"></div>
         </div>

         <div class="row text-center show-grid col-equal">
			      <div class="col-md-2 ">Unit</div>
			      <div class="col-md-1 col-md-offset-2 ">XXXX</div>
			      <div class="col-md-1">XXXX</div>
			      <div class="col-md-1"> <i class="fa fa-check-circle fa-3x label-primary"></i> </div>
			      <div class="col-md-1"> <i class="fa fa-remove fa-3x label-danger"></i> </div>
			      <div class="col-md-1"> <i class="fa fa-remove fa-3x label-danger"></i> </div>
			      <div class="col-md-1" > <i class="fa fa-remove fa-3x label-danger"></i> </div>
			      <div class="col-md-1"> <span class="badge badge-danger">32</span> </div>
			      <div class="col-md-1"> email</div>
         </div>

         <div class="row text-center show-grid col-equal">
			      <div class="col-md-2">Area</div>
			      <div class="col-md-1 col-md-offset-2">XXXX</div>
			      <div class="col-md-1">XXXX</div>
			      <div class="col-md-1"> <i class="fa fa-check-circle fa-3x label-primary"></i> </div>
			      <div class="col-md-1"> <i class="fa fa-check-circle fa-3x label-primary"></i> </div>
			      <div class="col-md-1"> <i class="fa fa-check-circle fa-3x label-primary"></i> </div>
			      <div class="col-md-1" > <i class="fa fa-check-circle fa-3x label-primary"></i> </div>
			      <div class="col-md-1"> <span class="badge badge-primary">100</span> </div>
			      <div class="col-md-1"> email</div>
         </div>

         <div class="row text-center show-grid col-equal">
			      <div class="col-md-2">Security</div>
			      <div class="col-md-1 col-md-offset-2">XXXX</div>
			      <div class="col-md-1">XXXX</div>
			      <div class="col-md-1"> <i class="fa fa-remove fa-3x label-danger"></i> </div>
			      <div class="col-md-1"> <i class="fa fa-check-circle fa-3x label-primary"></i> </div>
			      <div class="col-md-1"> <i class="fa fa-remove fa-3x label-danger"></i> </div>
			      <div class="col-md-1" > <i class="fa fa-remove fa-3x label-danger"></i> </div>
			      <div class="col-md-1"> <span class="badge badge-warning">62</span> </div>
			      <div class="col-md-1"> email</div>
         </div>

             <div class="row text-center show-grid col-equal">
			      <div class="col-md-2">Etc</div>
			      <div class="col-md-1 col-md-offset-2">XXXX</div>
			      <div class="col-md-1">XXXX</div>
			      <div class="col-md-1"> <i class="fa fa-remove fa-3x label-danger"></i> </div>
			      <div class="col-md-1"> <i class="fa fa-check-circle fa-3x label-primary"></i> </div>
			      <div class="col-md-1"> <i class="fa fa-check-circle fa-3x label-primary"></i> </div>
			      <div class="col-md-1" > <i class="fa fa-remove fa-3x label-danger"></i> </div>
			      <div class="col-md-1"> <span class="badge badge-danger">40</span> </div>
			      <div class="col-md-1"> email</div>
         </div>


         </div>


	</div>

	</div>


</div>


</div>
</div>


<script>
	function peityBar() {
		$(".bar").peity("bar", {
			fill : [ "#1ab394", "#d7d7d7" ],
			height: 170,
			width: 120
		})
	}

	peityBar();
</script>