<div class="wrapper wrapper-content animated fadeInRight ng-scope">
	<!---------------------------------- first row ------------------>
	<div class="row" style="background-color: white">
		<!---------------------------------- first row first part ------------------>
		<div class="col-md-5" style="border: 1px solid rgb(245, 245, 245);">
			<div class="row">
				<div class="col-md-6">
					<div class="widget yellw-bg no-padding "
						style="background-color: rgb(243, 243, 244)">
						<div class="p-m">
							<h4 class="m-xs" style="text-align: center; color: black">Number
								of Properties</h4>
							<h2 class="text-center font-bold text-navy"
								style="font-size: 4em; color: rgb(26,179,148) ">22</h2>	
						</div>
						<div style="height: 37px">
							
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="widget yellw-bg no-padding "
						style="background-color: rgb(243, 243, 244)">
						<div class="p-m">
							<h1 class="m-xs">$ 50,992</h1>
							<h2>Profit/Loss</h2>
						</div>
						<div class="flot-chart" style="height: 50px">
							<h2 class="m-xs font-bold pull-left">R0.00</h2>
                        <div class="flot-chart-content" id="flot-chart3"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="widget lazur-bg no-padding">
						<div class="p-m">
							<h1 class="m-xs">$ 210,660</h1>

							<h2 class=" no-margins" style="color:black">Expenses</h2>
						</div>
						<div class="flot-chart" style="height: 50px">
							<div class="flot-chart-content" id="flot-chart2"></div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="widget lazur-bg no-padding">
						<div class="p-m">
							<h1 class="m-xs">$ 210,660</h1>

							<h2 class=" no-margins" style="color:black">Income</h2>
						</div>
						<div class="flot-chart" style="height: 50px">
							<div class="flot-chart-content" id="flot-chart7"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-5">
				<div class="row"><div class="text-center">
                               <canvas id="barChart2" height="50" width="50%" style="width: 50%; height: 50px;"></canvas>
                            </div></span></div>
				<div class="row"><h4>Montly Profit/Loss</h4></div>
					
				</div>
				<div class="col-md-7">
					<ul class="stat-list">
						<li>
							<div class="label-info block">
								Ave Montly Income<small class="pull-right">R100.00</small>
							</div>

						</li>
						<li>
							<div class="label-danger block">
								Ave Montly Expenses<small class="pull-right">R50.00</small>
							</div>
						</li>
						<li>
							<div class="label-inverse block">
								Most valuable Property<small
									class="pull-right">Parkwood Manor</small>
							</div>
						</li>
						<li>
							<div class="label-success block">
								Least Valuable Property<small
									class="pull-right">Kilarney Mews</small>
							</div>
						</li>

					</ul>
				</div>
			</div>
		</div>

		<!---------------------------------- end of first row first part ------------------>
		<!---------------------------------- first row 2nd part ------------------>
		<div class="col-md-7">
			<div class="row"><button class="pull-right" style="background-image: none;background-color: transparent;">Montly</button><button class="pull-right" style="background-image: none;background-color: transparent;">Annual</button></div>
			<div class="row">
				<div class="col-md-8">
					<div class="row" style="position: relative"><div class="font-bold" style="position: absolute;">Task Status:History</div></div>
					<div class="row">
						<div class="flot-chart dashboard-chart">
						<div class="flot-chart-content" id="flot-dashboard-chart"
							style="padding: 0px; position: relative;">
													</div>
					</div>
					</div>
					
				</div>
				<div class="col-md-4" style="padding-top: 10%">
					<ul class="stat-list">
                            <li>
                                <small>Closed Tasks</small>
                                <div class="stat-percent">213</div>
                                <div class="progress progress-mini">
                                    <div style="width: 40%;" class="progress-bar progress-bar-success"></div>
                                </div>
                            </li>
                            <li>
                                <small>Open Tasks</small>
                                <div class="stat-percent">251</div>
                                <div class="progress progress-mini">
                                    <div style="width: 60%;" class="progress-bar"></div>
                                </div>
                            </li>
                            <li>
                                <small>Critical Tasks</small>
                                <div class="stat-percent">51</div>
                                <div class="progress progress-mini">
                                    <div style="width: 25%;" class="progress-bar progress-bar-warning"></div>
                                </div>
                            </li>
                            <li>
                                <small>Overdue Tasks</small>
                                <div class="stat-percent">221</div>
                                <div class="progress progress-mini">
                                    <div style="width: 65%;" class="progress-bar progress-bar-danger"></div>
                                </div>
                            </li>
                        </ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-9">
					<div>
						<table class="table"
							style="  height: 240px; width: 90%;border-right: 2px solid rgb(245,245,245)">
							<tbody>
								<tr style="border-bottom: 1px solid rbg(245,245,245)">
									<td>
										<label class="label-success m-r-sm" style="width: 20px;height: 20px;"></label>
										Highest scoring properyty
									</td>
									<td>
										<button type="button" class="btn btn-success m-r-sm"
											style="width: 90%">Parkwood Manor</button>

									</td>
								</tr>
								<tr style="border-bottom: 1px solid rbg(245,245,245)">
									<td>
										<label class="m-r-sm" style="background-color: rgb(181, 185, 207);width: 20px;height: 20px;"></label>
											Lowest scoring properyty
									</td>
									<td>
										<button type="button" class="btn m-r-sm"
											style="width: 90%; background-color: rgb(181, 185, 207)">Kilarney
											Mews</button>
									</td>
								</tr style="border-bottom: 1px solid rbg(245,245,245)">
								<tr>
									<td>
										<label class="label-info m-r-sm" style="width: 20px;height: 20px;" ></label>
										Highest scoring Caretaker
									</td>
									<td>
										<button type="button" class="btn btn-info m-r-sm"
											style="width: 90%">Clovis</button>
									</td>
								</tr>
								<tr>
									<td>
										<label class="label-warning m-r-sm" style="width: 20px;height: 20px;" ></label>
										Lowest scoring Caretaker
									</td>
									<td>
										<button type="button" class="btn btn-warning m-r-sm"
											style="width: 90%">Kevin Smith</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="col-md-3">
				<ul class="stat-list">
					<li><h3> Overall Score</h3></li>
					<li> <div class="text-center">
						<div class="m-r-md inline">
							 <input type="text" value="40" class="dial m-r" data-fgColor="#ED5565" data-width="85" data-height="85" data-step="1000" data-min="-15000" data-max="15000" data-displayPrevious=true/>
						</div>
					</div>
					</li>
					<li>
						<h1 class="label-danger m-r-sm font-bold" style="height:50px;width:100%;border:1px solid black; border-radius:15px;text-align:center">RISK</h1>
					</li>
				</ul>
				</div>
			</div>
		</div>
		<!---------------------------------- end first row 2nd part ------------------>
	</div>
	<!---------------------------------- end firs row ------------------>



	<!---------------------------------- begin 2nd row ------------------>
	<div class="row" style="margin-top: 3%">
		<div class="row"
			style=" height: 50px; margin-left: 2%; width:80%;">
			<div class="col-md-10" style="padding-top:5px;padding-bottom:5px;background-color: white;height:45px">
			<div class="col-sm-6">
			 <div class="input-group"><input type="text" placeholder="Search..." class="form-control"> 
			 <span class="input-group-btn"> <button type="button" class="btn btn-warning">Go!
                                        </button> </span></div>
			</div>
			<div class="col-sm-2">
				<a ui-sref="propertyCreate" class="btn btn-primary btn-sm"
					href="/index/property-create">
					Add/Edit/Delete Property</a>
			</div>
			<div class="col-sm-1">
			</div>
			<div class="col-sm-2">
				<button class="btn btn-primary btn-sm">
					Full Overview Report
				</button>
			</div>	
			
		</div>
		</div>
		<div class="col-md-offset-2">
		
		</div>
		<div class="row"
			style="margin-top: 2%; margin-left: 2%; width:96%; background-color: white;">
			<div class="col-md-10">
				<div class="table-responsive">
					<table class="table table-striped table-hover">
						<thead>
							<tr>

								<th>#</th>
								<th>Property</th>
								<th>Caretaker(S)</th>
								<th>Incomme / Expense</th>
								<th>Historical Score</th>
								<th>Status</th>
								<th>Score</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1.</td>
								<td>
									<ul class="stat-list">
										<li>Parkwood manor</li>
											<li><i class="fa fa-home text-navy ng-binding font-bold"></i>102 Units
											</li>

									</ul>
								</td>
								<td><label style="background-color: rgb(91,192,222); color:white;"
											class="label ng-binding" >Stephan van Tendor</label></td>
								<td>
									<ul class="stat-list">
										<li><i class="fa fa-home text-navy ng-binding"></i>+R1000.00</li>
										<li><i class="fa fa-home text-success ng-binding"></i>+R1000.00</li>
										<li><i class="fa fa-home text-warning ng-binding"></i>=R200.00</li>
									</ul>
								</td>
								<td>
									<!-- waiting for diagram-->
									<div class="text-center">
                               <canvas id="barChart1" height="140"></canvas>
                            </div></span></div>
								</td>
								<td>
									<ul class="stat-list" style="text-align: center">
										<li class="" style="border-radius: 8px; width: 100%;background-color: rgb(181, 185, 207)">3</li>
										<li class="label-primary" style="border-radius: 8px; width: 100%">4</li>
										<li class="label-warning" style="border-radius: 8px; width: 100%">25</li>
										<li class="label-danger" style="border-radius: 8px; width: 100%">13</li>
										
									</ul>
								
									
								</td>
								<td>
									<div class="m-r-md inline">
										<ul class="stat-list" style="text-align: center">
										<li><input type="text" value="75" class="dial m-r-sm" data-fgColor="#1AB394" data-width="85" data-height="85" /></li>
										<li class="text-navy">HEALTHY</li>
										</ul> 
									</div>
								</td>
							</tr>



						</tbody>
					</table>
				</div>
			</div>
			<div class="col-md-2" style="margin-top: 5%;">
				<div class="row">
					<button type="button" class="btn btn-primary m-r-sm no-padding"
						style="width: 60%; height: 50px;margin-bottom: 5%">Quick Reports</button>
				</div>
				<div class="row">
					<button type="button" class="btn btn-primary m-r-sm"
						style="width: 60%; height: 50px;">Full Reports</button>
				</div>
			</div>
		</div>
		<!---------------------------------- 2nd row ------------------>
	</div>
</div>

<script>
$(".dial").knob();
$("#sparkline8").sparkline([5, 6, 7, 2, 0, 4, 2, 4, 5, 7, 2, 4, 12, 14, 4, 2, 14, 12, 7], {
        type: 'bar',
        barWidth: 8,
        height: '150px',
        barColor: '#1ab394',
        negBarColor: '#c6c6c6'});
   
	
var data1 = [
               [0,4],[1,8],[2,5],[3,10],[4,4],[5,16],[6,5],[7,11],[8,6],[9,11],[10,30],[11,10],[12,13],[13,4],[14,3],[15,3],[16,6]
           ];
           var data2 = [
               [0,1],[1,0],[2,2],[3,0],[4,1],[5,3],[6,1],[7,5],[8,2],[9,3],[10,2],[11,1],[12,0],[13,2],[14,8],[15,0],[16,0]
           ];
           $("#flot-dashboard-chart").length && $.plot($("#flot-dashboard-chart"), [
               data1, data2
           ],
                   {
                       series: {
                           lines: {
                               show: false,
                               fill: true
                           },
                           splines: {
                               show: true,
                               tension: 0.4,
                               lineWidth: 1,
                               fill: 0.4
                           },
                           points: {
                               radius: 0,
                               show: true
                           },
                           shadowSize: 2
                       },
                       grid: {
                           hoverable: true,
                           clickable: true,
                           tickColor: "#d5d5d5",
                           borderWidth: 1,
                           color: '#d5d5d5'
                       },
                       colors: ["#1ab394", "#464f88"],
                       xaxis:{
                       },
                       yaxis: {
                           ticks: 4
                       },
                       tooltip: false
                   }
           );


var barData = {
        labels: ["J", "F", "M", "A", "M", "J", "J"],
        datasets: [
            {
                label: "My First dataset",
                fillColor: "rgba(220,220,220,0.5)",
                strokeColor: "rgba(220,220,220,0.8)",
                highlightFill: "rgba(220,220,220,0.75)",
                highlightStroke: "rgba(220,220,220,1)",
                data: [65, 59, 80, 81, 56, 55, 40]
            },
            {
                label: "My Second dataset",
                fillColor: "rgba(26,179,148,0.5)",
                strokeColor: "rgba(26,179,148,0.8)",
                highlightFill: "rgba(26,179,148,0.75)",
                highlightStroke: "rgba(26,179,148,1)",
                data: [28, 48, 40, 19, 86, 27, 90]
            }
        ]
    };

    var barOptions = {
        scaleBeginAtZero: true,
        scaleShowGridLines: true,
        scaleGridLineColor: "rgba(0,0,0,.05)",
        scaleGridLineWidth: 1,
        barShowStroke: true,
        barStrokeWidth: 2,
        barValueSpacing: 5,
        barDatasetSpacing: 1,
        responsive: true,
    }


    var ctx = document.getElementById("barChart").getContext("2d");
    var ctx1 = document.getElementById("barChart1").getContext("2d");
    var myNewChart = new Chart(ctx).Bar(barData, barOptions);
    var myNewChart = new Chart(ctx1).Bar(barData, barOptions);
    
    
        var d1 = [[1262304000000, 6], [1264982400000, 3057], [1267401600000, 20434], [1270080000000, 31982], [1272672000000, 26602], [1275350400000, 27826], [1277942400000, 24302], [1280620800000, 24237], [1283299200000, 21004], [1285891200000, 12144], [1288569600000, 10577], [1291161600000, 10295]];
        var d2 = [[1262304000000, 5], [1264982400000, 200], [1267401600000, 1605], [1270080000000, 6129], [1272672000000, 11643], [1275350400000, 19055], [1277942400000, 30062], [1280620800000, 39197], [1283299200000, 37000], [1285891200000, 27000], [1288569600000, 21000], [1291161600000, 17000]];

        var data1 = [
			{ label: "Data 1", data: d1, color: '#17a084'},
            { label: "Data 2", data: d2, color: '#127e68' }
        ];
        $.plot($("#flot-chart1"), data1, {
            xaxis: {
                tickDecimals: 0
            },
            series: {
                lines: {
                    show: true,
                    fill: true,
                    fillColor: {
                        colors: [{
                            opacity: 1
                        }, {
                            opacity: 1
                        }]
                    },
                },
                points: {
                    width: 0.1,
                    show: false
                },
            },
            grid: {
                show: false,
                borderWidth: 0
            },
            legend: {
                show: false,
            }
        });

        var data2 = [
            { label: "Data 1", data: d1, color: '#19a0a1'}
        ];
        $.plot($("#flot-chart2"), data2, {
            xaxis: {
                tickDecimals: 0
            },
            series: {
                lines: {
                    show: true,
                    fill: true,
                    fillColor: {
                        colors: [{
                            opacity: 1
                        }, {
                            opacity: 1
                        }]
                    },
                },
                points: {
                    width: 0.1,
                    show: false
                },
            },
            grid: {
                show: false,
                borderWidth: 0
            },
            legend: {
                show: false,
            }
        });

        var data3 = [
            { label: "Data 1", data: d1, color: '#fbbe7b'},
            { label: "Data 2", data: d2, color: '#f8ac59' }
        ];
        $.plot($("#flot-chart3"), data3, {
            xaxis: {
                tickDecimals: 0
            },
            series: {
                lines: {
                    show: true,
                    fill: true,
                    fillColor: {
                        colors: [{
                            opacity: 1
                        }, {
                            opacity: 1
                        }]
                    },
                },
                points: {
                    width: 0.1,
                    show: false
                },
            },
            grid: {
                show: false,
                borderWidth: 0
            },
            legend: {
                show: false,
            }
        });
       
</script>