<div id="propertyUserModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div ng-controller="PropertyUserModalCtrl as propUserMdl" class="modal-content">
            <div class="modal-body">
                    <div   ng-show="!propUserMdl.isCreateUser" class="row">
                        <div class="ibox">
                            <div class="ibox-title">
                                <h2 class="text-warning">Property User</h2>
                            </div>
                            <div class="hr-line-solid"><!-- --></div>
                            <div class="ibox-content">
                                <div class="row">
                                        <form class="form-horizontal">
                                            <div class="form-group">
                                                <label class="col-lg-3 control-label"><span class="text-danger">*</span> Contact User </label>
                                                <div class="col-lg-7">
                                                    <select  class="form-control" name="user"
                                                            ng-model="propUserMdl.userRole.login"
                                                            ng-options="value as propUserMdl.getFullName(value) for value in propUserMdl.users">
                                                        <option>-- select user --</option>
                                                    </select>
                                                </div>
                                                <div class="col-lg-2">
                                                    <button ng-click="propUserMdl.activateUserCreate()"  class="btn btn-success"><i class="fa fa-plus"> Add</i></button>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-3 control-label"><span class="text-danger">*</span> Role Name</label>
                                                <div class="col-lg-7">
                                                    <select ng-model="propUserMdl.userRole.role" ng-init="propUserMdl.userRole.role = 'CARETAKER'"  class="form-control text-center text-success">
                                                        <option ng-selected>CARETAKER</option>
                                                        <option>OWNER</option>
                                                        <option>TENANT</option>
                                                        <option>TRUSTEE</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-3 control-label"><span class="text-danger">*</span> Permission</label>
                                                <div class="col-lg-7">
                                                    <select ng-model="propUserMdl.userRole.permission" ng-init="propUserMdl.userRole.permission= 'NONE'" class="form-control text-center text-success">
                                                        <option >VIEW</option>
                                                        <option >ADMIN</option>
                                                        <option >NONE</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-3 control-label"><span class="text-danger"> </span>Login Status</label>
                                                <div class="col-lg-7">
                                                    <select  ng-model="propUserMdl.userRole.status" ng-init="propUserMdl.userRole.status = 'ACTIVE'" class="form-control text-center text-success">
                                                        <option ng-selected>ACTIVE</option>
                                                        <option >CLOSED</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-3 control-label"><span class="text-danger"> </span>Start Date</label>
                                                <div class="col-lg-7">
                                                    <div class="input-group date">
                                                    <input ng-model="propUserMdl.userRole.start" type="datetime" class="form-control" format="dd-MM-yyyy HH:mm"  date-time view="date">
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-3 control-label"><span class="text-danger"> </span>End Date</label>
                                                <div class="col-lg-7">

                                                    <div class="input-group date">
                                                    <input ng-model="propUserMdl.userRole.end" type="datetime"  format="dd-MM-yyyy HH:mm"  class="form-control" date-time  view="date">
                                                    <span  class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                </div>
                                                </div>
                                            </div>
                                            <!--<div class="form-group">-->
                                                <!--<label class="col-lg-3 control-label"><span class="text-danger"> </span> Property Name</label>-->
                                                <!--<div class="col-lg-7">-->
                                                    <!--<input type="text" ng-model="propUserMdl.userRole.property.name"  readonly class="form-control">-->
                                                <!--</div>-->
                                            <!--</div>-->

                                            <div class="form-group">
                                                <label class="col-lg-3 control-label"> </label>
                                                <div class="col-lg-9">
                                                    <div class="checkbox i-checks"><label> <input ng-model="propUserMdl.userRole.invited" type="checkbox"><i></i> Send Email Invitation  ? </label></div>
                                                </div>
                                            </div>

                                        </form>
                                </div>
                            </div>
                        </div>
                    </div>

                <div  ng-show="propUserMdl.isCreateUser" class="row">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h2 class="text-warning">Property User</h2>
                        </div>
                        <div class="hr-line-solid"><!-- --></div>
                        <div class="ibox-content">
                            <div class="row">
                                <form role="form" class="form-horizontal" name="createUserForm" novalidate angular-validator>

                                    <div class="form-group">
                                        <div class="col-xs-6">
                                            <div class="input-group">
							<span class="input-group-addon"><span
                                    class="glyphicon glyphicon-user"></span></span> <input type="text"
                                                                                           name="firstName"
                                                                                           class="form-control" placeholder="First Name"
                                                                                           validate-on="dirty"
                                                                                           ng-model="propUserMdl.user.firstName"
                                                                                           required-message="'first Name is required'" required>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="input-group">
							<span class="input-group-addon"><span
                                    class="glyphicon glyphicon-user"></span></span> <input type="text"
                                                                                           name="lastName"
                                                                                           class="form-control" placeholder="Last Name"
                                                                                           ng-model="propUserMdl.user.lastName"
                                                                                           required-message="'last Name is required'" required
                                                                                           validate-on="dirty">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-xs-6">
                                            <div class="input-group">
							<span class="input-group-addon"><span
                                    class="glyphicon glyphicon-envelope"></span></span> <input type="email"
                                                                                               name="email"
                                                                                               class="form-control" placeholder="Email"
                                                                                               ng-model="propUserMdl.user.email"
                                                                                               validate-on="dirty"
                                                                                               ng-pattern = "/^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/"
                                                                                               invalid-message="'invalid email'"
                                                                                               required-message="'email is required'" required>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="input-group">
							<span class="input-group-addon"><span
                                    class="glyphicon glyphicon-phone"></span></span> <input type="text"
                                                                                            name="mobilePhone"
                                                                                            class="form-control" placeholder="Mobile Phone"
                                                                                            validate-on="dirty"
                                                                                            ng-pattern="/^[0-9]+$/"
                                                                                            ng-model="propUserMdl.user.mobilePhone"
                                                                                            invalid-message="'Please just enter number'"
                                                                                            required-message="'Mobile Phone is required'" required>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-xs-6">
                                            <div class="input-group">
							<span class="input-group-addon"><span
                                    class="glyphicon glyphicon-phone-alt"></span></span> <input type="text"
                                                                                                name="homePhone"
                                                                                                class="form-control" placeholder="Home Phone"
                                                                                                ng-pattern="/^[0-9]+$/"
                                                                                                ng-model="propUserMdl.user.homePhone"
                                                                                                invalid-message="'Please just enter number'"
                                                                                                required-message="'home phone is required'" required
                                                                                                validate-on="blur">
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-phone"></span></span>
                                                <input  type="text" class="form-control" placeholder="Land Phone"
                                                       name="landPhone"
                                                       ng-pattern="/^[0-9]+$/"
                                                       ng-model="propUserMdl.user.landPhone"
                                                       invalid-message="'Please just enter number'"
                                                       required-message="'land phone is required'" required
                                                       validate-on="blur">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-xs-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-key"></span></span>
                                                <input type="password" class="form-control"
                                                       name="password"
                                                       validate-on="blur"
                                                       placeholder="password" ng-model="propUserMdl.user.password"
                                                       required-message="'password is required'" required>
                                            </div>
                                        </div>
                                        <div  class="col-xs-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-key"></span></span>
                                                <input type="password" class="form-control"
                                                       placeholder="Confirm Password"
                                                       name="confPassword"
                                                       validate-on="blur"
                                                       invalid-message="'Please enter the same password'"
                                                       required-message="'confirme the password is required'"
                                                       ng-model="propUserMdl.confPassword" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-flag"></span></span>
                                                <input type="password" class="form-control"
                                                       name="password"
                                                       validate-on="blur"
                                                       placeholder="Country" ng-model="propUserMdl.user.address.country"
                                                       required-message="'password is required'" required>
                                            </div>
                                        </div>
                                        <div  class="col-xs-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-building"></span></span>
                                                <input type="password" class="form-control"
                                                       placeholder="City"
                                                       name="confPassword"
                                                       validate-on="blur"
                                                       invalid-message="'Please enter the same password'"
                                                       required-message="'confirme the password is required'"
                                                       ng-model="propUserMdl.user.address.city" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-street-view"></span></span>
                                                <input type="password" class="form-control"
                                                       name="password"
                                                       validate-on="blur"
                                                       placeholder="Street" ng-model="propUserMdl.user.address.street"
                                                       required-message="'password is required'" required>
                                            </div>
                                        </div>
                                        <div  class="col-xs-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-file-zip-o"></span></span>
                                                <input type="password" class="form-control"
                                                       placeholder="zip Code"
                                                       name="confPassword"
                                                       validate-on="blur"
                                                       invalid-message="'Please enter the same password'"
                                                       required-message="'confirme the password is required'"
                                                       ng-model="propUserMdl.user.address.zipCode" required>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-xs-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-openid"></span></span>
                                                <select class="form-control" ng-init="propUserMdl.user.gender='MALE'" ng-model="propUserMdl.user.gender" >
                                                    <option selected>MALE</option>
                                                    <option>FEMALE</option>
                                                    <option>NEUTRAL</option>
                                                </select>
                                                </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="hr-line-solid"><!-- --></div>
            <div class="modal-footer">
                <div  ng-show="!propUserMdl.isCreateUser" class="form-group">
                    <div class="col-lg-offset-3 col-lg-9">
                        <button ng-click="propUserMdl.save()" class="btn btn-success" type="button">
                            <i class="fa fa-save"></i>
                            <span>Save</span>
                        </button>
                        <button class="btn btn-warning " data-dismiss="modal"  type="button"> <i class="fa fa-circle-o"></i> Exit</button>
                    </div>
                </div>

                <div ng-show="propUserMdl.isCreateUser" class="form-group">
                    <div class="col-lg-offset-3 col-lg-9">
                        <button ng-click="propUserMdl.saveUser()" class="btn btn-success" type="button">
                            <i class="fa fa-save"></i>
                            <span>Save</span>
                        </button>
                        <button ng-click="propUserMdl.cancelUserCreate()" class="btn btn-warning "   type="button"> <i class="fa fa-circle-o"></i> Cancel</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>